[2019-05-29 19:53] MichaelSimons opened #2 "Can't pull images when running in Containers for Windows"
_Copied from https://github.com/dotnet/dotnet-docker/issues/992 by @francoisdutoit_

## Steps to reproduce the issue
1. On Windows 10 - Switch to Containers for Windows

## Expected behavior
Pull .net Core images from DockerHub : docker pull mcr.microsoft.com/dotnet/core/sdk

## Actual behavior
Error:
read tcp 192.168.88.229:2897->204.79.197.219:443: wsarecv: An existing connection was forcibly cl

[2019-05-31 20:32] rotata commented on #2
Will pull in the relevant Windows folks too.

[2019-06-06 17:57] MichaelSimons opened #3 "Provide the ability to get image size info without pulling images."
I have been asked a number of times by the .NET customers how to get the image sizes (compressed) after moving to MCR.  It seems like this is something MCR should be exposing for our customers.  I acknowledge the Docker Hub mechanism was flawed in that it was deceptive for multi-platform tags.

Example inquiry:
_From https://github.com/dotnet/dotnet-docker/issues/967#issue-417508782 by @jonathann9

[2019-06-13 17:22] rotata commented on #3
Hi, I agree and this is something we will look to include it with in the Readme in the tabular display.

[2019-07-09 17:00] MichaelSimons opened #4 "Question: Is There a Way to Get Notify/Email/Webhook If Offical Image is Updated?"
@denhsu commented on [Thu Jul 04 2019](https://github.com/microsoft/aspnet-docker/issues/187)

We have our application image store in Azure Container Registry and it uses Microsoft official image "microsoft/aspnet:4.7.1-windowsservercore-ltsc2016".

Is it possible to notify us/email/webhook when image is updated in this repo?  For example, automatically trigger a build in our Azure DevOps to rebui

[2019-07-22 14:10] dbramhallconcentrix opened #5 "Cannot pull some of the Nanoserver and WindowsServerCore image tags"
When I try to download a lot of the  Windows Server Core and Nano Server images, I get the below error.

**Error**
Error response from daemon: manifest for microsoft/windowsservercore:latest not found.

Same issue with mcr.microsoft.com images/tags

**Same issue as the below**
https://github.com/docker/for-win/issues/3761

![Docker About](https://user-images.githubusercontent.com/52007100/61639135

[2019-07-23 19:15] rotata commented on #5
could you please provide some diagnostic logs for your issue, you can find more information on the steps to get the logs here https://docs.microsoft.com/en-us/azure/container-registry/container-registry-faq#enable-and-get-the-debug-logs-of-the-docker-daemon.
Also, how many images are you trying to download?

[2019-07-23 20:13] dbramhallconcentrix commented on #5
I am just trying to run a docker pull command to pull specific tags for the Nanoserver and Windows Server Core tags. Why do you need diagnostic logs for this? Can you verify that all the tags provided in the below links are available? A lot of my colleagues are experiencing the same issue.

Nano Server Images
https://hub.docker.com/_/microsoft-windows-nanoserver

Windows Server Core Images
https:/

[2019-07-23 20:19] bariscaglar commented on #5
I have tried a few of them (1903, 1903-KB4505057, 1809) from nanoserver and all three worked. Which tags are you having trouble with?

[2019-07-23 20:24] bariscaglar commented on #5
If you're trying "latest" tag, it won't work because the Windows team decided to discontinue that tag due to ambiguity it carried. You'll see that it doesn't exist in the full tag listing. This [article](https://techcommunity.microsoft.com/t5/Containers/Windows-Server-2019-Now-Available/ba-p/382430)has more on that.

[2019-07-23 20:50] dbramhallconcentrix commented on #5
Yep, I saw the article about no more latest. I am not trying to pull latest tags for any MS docker images. Below is an image of the tags I tried today.

[cid:image001.png@01D54165.FFACE180]

[CNX_logo_Color_SMALL]
Dena Bramhall | Sr. DevOps Engineer
201 East Fourth Street Cincinnati OH 45202
m: +1 719-393-5115
Dena.Bramhall@concentrix.com
www.concentrix.com<http://www.concentrix.com/>

From: Baris

[2019-07-23 20:54] bariscaglar commented on #5
I'm sorry, I don't think your image uploaded correctly. This is all I am seeing:

Yep, I saw the article about no more latest. I am not trying to pull latest tags for any MS docker images. Below is an image of the tags I tried today.

[cid:image001.png@01D54165.FFACE180]

[2019-07-23 20:59] dbramhallconcentrix commented on #5
I have attached a .png file

[CNX_logo_Color_SMALL]
Dena Bramhall | Sr. DevOps Engineer
201 East Fourth Street Cincinnati OH 45202
m: +1 719-393-5115
Dena.Bramhall@concentrix.com
www.concentrix.com<http://www.concentrix.com/>

From: Baris Caglar <notifications@github.com>
Sent: Tuesday, July 23, 2019 2:54 PM
To: microsoft/containerregistry <containerregistry@noreply.github.com>
Cc: dbramhallconcen

[2019-07-23 21:44] mamezgeb commented on #5
Hi there, we on the GitHub issue page can't see the image you're attaching. Could you use the GitHub issue UI [here](https://github.com/microsoft/containerregistry/issues/5) and attach the image using the comment system? Or alternatively, list out the tags that are failing? I'm in alignment with Baris' prior comments.

[2019-07-24 13:49] dbramhallconcentrix commented on #5
PS C:\Windows\system32> docker pull mcr.microsoft.com/windows/servercore:1809
1809: Pulling from windows/servercore
no matching manifest for unknown in the manifest list entries
PS C:\Windows\system32> docker pull mcr.microsoft.com/windows/nanoserver:1809
1809: Pulling from windows/nanoserver
no matching manifest for unknown in the manifest list entries
PS C:\Windows\system32> docker pull mcr.micr

[2019-07-24 17:17] mamezgeb commented on #5
When you run `docker info`, what shows up by `Kernel Version' and `Operating System`?

[2019-07-24 17:46] dbramhallconcentrix commented on #5
Client: Docker Engine - Community
Version:           18.09.2
API version:       1.39
Go version:        go1.10.8
Git commit:        6247962
Built:             Sun Feb 10 04:12:31 2019
OS/Arch:           windows/amd64
Experimental:      false

Server: Docker Engine - Community
Engine:
  Version:          18.09.2
  API version:      1.39 (minimum version 1.24)
  Go version:       go1.10.6
  Git comm

[2019-07-24 21:08] bariscaglar commented on #5
One reason I could find why people run into this issue is their Docker installation was set to "**Linux Containers**".

That said, on my end, it all works:

docker pull mcr.microsoft.com/windows/servercore:1809
1809: Pulling from windows/servercore
65014b3c3121: Already exists                                                                                            02a4c14ecf32: Pull complete

[2019-07-24 21:13] dbramhallconcentrix commented on #5
I am set to windows containers because I am able to download other windows containers with different tags.

[CNX_logo_Color_SMALL]
Dena Bramhall | Sr. DevOps Engineer
201 East Fourth Street Cincinnati OH 45202
m: +1 719-393-5115
Dena.Bramhall@concentrix.com
www.concentrix.com<http://www.concentrix.com/>

From: Baris Caglar <notifications@github.com>
Sent: Wednesday, July 24, 2019 3:08 PM
To: micro

[2019-07-24 21:15] dbramhallconcentrix commented on #5
How do I run diagnostics while attempting to pull docker windows containers. There must be a specific setting docker desktop wants or an issue with my version of windows.

[CNX_logo_Color_SMALL]
Dena Bramhall | Sr. DevOps Engineer
201 East Fourth Street Cincinnati OH 45202
m: +1 719-393-5115
Dena.Bramhall@concentrix.com
www.concentrix.com<http://www.concentrix.com/>

From: Baris Caglar <notificati

[2019-07-24 21:24] bariscaglar commented on #5
Could you be trying to pull versions that are higher than your OS version? Are the ones that work all lower version tags?

I think Rohit's original message contained the instructions on getting diagnostics: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-faq#enable-and-get-the-debug-logs-of-the-docker-daemon.

Also, your docker tooling version is old. Before proceeding

[2019-07-24 21:33] dbramhallconcentrix commented on #5
Working on the other requests now.

PS C:\Windows\system32> docker info
Containers: 5
Running: 0
Paused: 0
Stopped: 5
Images: 13
Server Version: 18.09.2
Storage Driver: windowsfilter
Windows:
Logging Driver: json-file
Plugins:
Volume: local
Network: ics l2bridge l2tunnel nat null overlay transparent
Log: awslogs etwlogs fluentd gelf json-file local logentries splunk syslog
Swarm: inactive
Default

[2019-07-24 21:34] dbramhallconcentrix commented on #5
When you say docker tooling, do you mean my docker desktop version? I just tried to upgrade and docker responded by saying I was up to date.

[CNX_logo_Color_SMALL]
Dena Bramhall | Sr. DevOps Engineer
201 East Fourth Street Cincinnati OH 45202
m: +1 719-393-5115
Dena.Bramhall@concentrix.com
www.concentrix.com<http://www.concentrix.com/>

From: Baris Caglar <notifications@github.com>
Sent: Wednesda

[2019-07-24 21:57] bariscaglar commented on #5
You are actually quite right. You have the latest stable version. On my machine, I am on an "Edge Release", which is why my version is 19.xxxx while yours is 18.xxxx.

[2019-07-24 22:01] bariscaglar commented on #5
I think this is the reason why you are unable to pull 1809 images. This [StackOverflow](https://stackoverflow.com/questions/56475661/can-not-pull-nanoserver1903-docker-image) has a an answer to the issue similar to yours.

[2019-07-24 22:05] dbramhallconcentrix commented on #5
I am at Windows version 1803. I am now downloading Windows Server core docker image with tag 1803. I’ll try with the Nano Server image once finished. Another quirk of Windows docker containers. 😊

[CNX_logo_Color_SMALL]
Dena Bramhall | Sr. DevOps Engineer
201 East Fourth Street Cincinnati OH 45202
m: +1 719-393-5115
Dena.Bramhall@concentrix.com
www.concentrix.com<http://www.concentrix.com/>

From:

[2019-07-25 20:24] bariscaglar commented on #5
Have you had success with 1803?

[2019-07-25 20:41] dbramhallconcentrix commented on #5
Yes 1803 downloaded. Sorry, I am on multiple projects. I have it on my list to try the nanoserver tag first thing this evening.

[CNX_logo_Color_SMALL]
Dena Bramhall | Sr. DevOps Engineer
201 East Fourth Street Cincinnati OH 45202
m: +1 719-393-5115
Dena.Bramhall@concentrix.com
www.concentrix.com<http://www.concentrix.com/>

From: Baris Caglar <notifications@github.com>
Sent: Thursday, July 25, 20

[2019-08-13 13:37] MichaelSimons opened #6 "An existing connection was forcibly closed by the remote host"
Copied from microsoft/dotnet-framework-docker#376 by @arnigunnar

I am trying to run this command ``docker pull mcr.microsoft.com/dotnet/framework/runtime:4.7.2-windowsservercore-ltsc2019``, but using the console, I always get an error. ``read tcp 10.44.103.63:59824->204.79.197.219:443: wsarecv: An existing connection was forcibly closed by the remote host.``. There are 4 layers to the image, and

[2019-08-14 08:46] arnigunnar commented on #6
Tried different images, all with the same result:

[code]

[2019-08-14 17:06] bariscaglar commented on #5
Looks like this issue is resolved. Please feel free to reach out to us if you run into further problems.

[2019-08-14 17:06] #5 closed

[2019-08-14 17:35] bariscaglar commented on #6
@MichaelSimons @arnigunnar are you still seeing the same issues? I tried all 4 mentioned images and they all pulled OK for me.

[2019-08-14 17:55] MichaelSimons commented on #6
To be clear, I just copied this issue between repos on behalf of @arnigunnar.

[2019-08-15 14:26] MichaelSimons opened #7 "Can we optimize download speed in mainland China"
_Copied from https://github.com/dotnet/dotnet-docker/issues/1269 by ZhangGaoxing_
## Steps to reproduce the issue

Every time I pull a image from `mcr.microsoft.com`, the speed is very slow(about 200k/s). It's painful
 ☹. Other products download speed of .NET are normal, such as direct from .NET homepage download installation package.

[2019-08-15 14:40] rotata commented on #7
We will look at this right away and update you shortly. Could you provide us some logs around the usage.

[2019-08-16 17:40] arnigunnar commented on #6
I tried on my home computer pulling the same image, and it seems to work fine for some reason. Have tried on my work computer in two different WiFi connections, but same result. Must be something on my computer that is doing this. This can be closed. Thanks for checking this out for me.

[2019-08-16 19:26] bariscaglar commented on #6
Thanks for the confirmation, closing.

[2019-08-16 19:26] #6 closed

[2019-09-26 20:08] bariscaglar commented on #2
We haven't heard more on this. Closing; reopen as neeeded.

[2019-09-26 20:08] #2 closed

[2019-09-27 05:36] francoisdutoit commented on #2
@bariscaglar  - Not experiencing the issue anymore. So seems to have been sorted. Thanks

[2019-10-09 05:44] SteveLasker commented on #4
https://aka.ms/acr/tasks is our supported scenario.
We had hoped to get this enabled with Docker Hub, however we haven't had an update from Docker on this item.

[2019-10-09 05:45] SteveLasker commented on #4
@denhsu
Closing, in-lieu of an update from docker hub.
To make a request for more generic notifications, please submit a request to https://aka.ms/acr/uservoice
While I realize this is under ACR, we track both issues here.

[2019-10-09 05:45] #4 closed

[2019-11-04 15:31] MichaelSimons opened #9 "Pull-through cache for mcr.microsoft.com is not working"
_Copied from https://github.com/dotnet/dotnet-docker/issues/1434 by @dngcsc_

## Steps to reproduce the issue
1. Create a local docker registry that acts as pull-through cache for mcr.microsoft.com:

**docker-compose.yml**

[code]

**mcr-mirror-config.yml**
[code]
2. Change docker daemon to use `http://localhost:5003` as registry mirror
3. `docker pull mcr.microsoft.com/dotnet/core/sdk:3.0-alpine`

[2019-12-06 22:26] 4deeptech opened #10 ".NET Core SDK 3.1 Debian 10 images are throwing image configuration errors I/O timeout"
I tried yesterday and again today to pull and use the Debian 10 '3.1.100' SDK image and get i/o timeout errors pulling image configuration. The 3.0.100 image reference does not do this.

Error:
error pulling image configuration: Get https://mcreus0.blob.core.windows.net/aba285c624a04409823b708c7a50e7b9-jttfjm99vo//docker/registry/v2/blobs/sha256/98/9817c25953a8ede59da1b397aa096c5ba269bbd969f55f181

[2019-12-06 23:18] mbrown555 commented on #10
@4deeptech , are you still seeing this issue? I'm able to do a pull of the sdk:3.1.100 without a problem, so it doesn't seem to be any issue with MCR:

3.1.100: Pulling from dotnet/core/sdk
d0c6a1b3dba2: Pull complete                                                                                             6d237e860928: Pull complete

[2019-12-06 23:21] mbrown555 commented on #10
If it's still failing, can you try a ping of mcr.microsoft.com to see what region you're pulling from? For example:

Pinging rpm1118wus.**westus**.cloudapp.azure.com [40.112.242.158] with 32 bytes of data:
Request timed out.

Shows I'm pulling from westus region. I want to make sure the image isn't corrupt in a different region.

[2019-12-09 15:31] 4deeptech commented on #10
Tried this morning and it still failed. I capture the output to post here.
[code]
For comparison, I immediate changed my docker file to use 3.0.100 and it worked right away. Here's the output from that as it got started.

[code]

Also, pinging mcr.microsoft.com returned the following:
[code]
Thanks for looking into this.

[2019-12-09 19:09] 4deeptech commented on #10
After fiddling with my local hosts file to try to trick it to use the westus images and rebooting/restarting the docker desktop services, this now works. Note: I removed the hosts file changes and let DNS do its thing without me mucking with it.  So not sure what changed. Did you guys do something on your side or was this a local machine thing?  Doing a docker pull with 3.1.100 clearly didn't work

[2019-12-10 00:39] jhkimnew commented on #10
Hi, I noticed there was a change recently for our traffic manager. Recently the ip address was updated from 40.71.10.215 to 40.71.10.214. But I am not sure if that is related to your issue or not yet. Would you please check if the issue happens on other machines? If it is still reproducible, please check what IP is shown with resolving mcr.microsoft.com in order to confirm if the issue is related

[2020-01-22 23:21] rotata commented on #10
@4deeptech  Is this issue still ocurring?

[2020-02-04 20:45] anthonyhollings opened #12 "Certificate Issue"
When I try to pull a docker image from MCR I get the following error.

[code]

[2020-02-04 20:49] spBrianWerth commented on #12
Same

[2020-02-04 20:53] connorearl commented on #12
I am also experiencing this issue

[2020-02-04 21:21] connorearl commented on #12
Looks like it's working now

[2020-02-04 21:28] spBrianWerth commented on #12
Also working here, thanks Microsoft!

[2020-02-04 21:58] anthonyhollings commented on #12
Working now here too

[2020-02-04 21:58] #12 closed

[2020-02-06 01:20] bariscaglar commented on #12
In case anyone here is wondering, we had an outage due to a deployment error. Thank you for your patience. It should all be back to normal now.

[2020-02-17 19:43] expcat commented on #7
This is my docker pull information.

[code]

docker logs
[code]

[2020-02-20 01:31] kkbruce commented on #7
China Internet is special, especially GFW. It's not easy.

[2020-02-24 16:27] LiangZugeng commented on #7
I think there are two ways to solve the problem:

1. Microsoft adds MCR CDN nodes in China or in Hongkong where the access speed is acceptable from China mainland.
2. For each every docker image hosted in MCR, Microsoft publishes a public image, which simply uses its MCR version as the image in Dockerfile but nothing else, on Docker hub, so docker registry mirrors in China (like docker CN or Aliyu

[2020-02-27 06:45] wjsgzcn commented on #7
why don't microsoft place a copy on docker hub?  then we can use mirrors in china to get the images.

[2020-02-27 18:42] bariscaglar commented on #7
The whole point of Microsoft Container Registry is to be a trustable endpoint for official Microsoft container images. Mirroring them elsewhere defeats this core purpose. That said, we understand the pain of low download speeds and are looking into ways to make the experience better.

[2020-03-18 06:18] shikelong commented on #7
+1.

[2020-03-22 05:23] eternalphane opened #18 "Default code page in Server Core Insider images"
It seems that the default code page on `10.0.19008.1` and `10.0.19023.1` is `65001`, preventing CMake from identifying C/CXX compiler.

`CMakeError.log`:
<details>

[code]
</details>

[2020-03-23 14:57] MRavenscroft opened #19 "TLS error access denied when trying to pull images from cdn.mscr.io endpoint"
Hi,

We've been using the official microsoft images for our project that we are converting to use containers, and they were working a few months back. An example image that we are using is "mcr.microsoft.com/dotnet/core/sdk:3.1". However, some of our developers started running into a problem  (I believe it was  in Februrary initially) where we were getting access denied when trying to pull. when w

[2020-03-25 18:28] bariscaglar commented on #10
This has been inactive for a while, let us know if the issue still persists.

[2020-03-25 18:28] #10 closed

[2020-03-25 19:26] toddysm commented on #19
@MRavenscroft Would you mind checking whether you are running behind a proxy? If so, can you compare the proxy configurations for a working and a non-working machine?

[2020-03-26 09:31] MRavenscroft commented on #19
I've checked the proxy settings and as far as i can tell i'm not behind one - my proxy options are turned off and i'm disconnected from our corporate VPN. Online proxy checks also cannot detect anything.

[2020-03-26 17:21] toddysm commented on #9
According to the linked [documentation from Docker](https://docs.docker.com/registry/recipes/mirror/), the pull-through functionality is only supported for the central Docker Hub (see the Gotcha section). Unfortunately if support for other registries is not added to the daemon implementation, we will not be able to support this.

This is already brought to the OSS community as an issue. Closing th

[2020-03-26 17:21] #9 closed

[2020-04-02 05:27] taoyouh commented on #7
mcr.microsoft.com is very very slow. However, nuget.org is much faster.

[2020-04-02 05:32] taoyouh commented on #7
Microsoft Store installation, Windows Update, NuGet package restoring and Visual Studio Installation are all much faster than pulling from mcr.microsoft.com in my network environment. This issue has a critical impact on the usability of Microsoft Container Registry.

[2020-04-07 07:57] PMExtra commented on #7
Since last week, Azure disallow internet access to `mcr.azk8s.cn`. We can't find any alternative.
Could you make a consultation with Azure China?

[2020-04-09 14:27] jackytse commented on #7
I can't pull image from `mcr.azk8s.cn`. any other mirrors?

[2020-04-10 13:49] TJM commented on #3
https://docs.docker.com/registry/spec/api/ <-- it seems like there might be some missing API specs. I get a lot of 404's

[2020-04-12 05:14] bbehling opened #20 "error NETSDK1064: Package DnsClient, version 1.2.0 was not found"
When building a docker image and pulling mcr.microsoft.com/dotnet/core/sdk:3.1  an error is thrown. Note this is also breaking on Elastic Beanstalk  when trying to deploy a new version. This build was working two months ago.

usr/share/dotnet/sdk/3.1.201/Sdks/Microsoft.NET.Sdk/targets/Microsoft.PackageDependencyResolution.targets(234,5): error NETSDK1064: Package DnsClient, version 1.2.0 was not f

[2020-04-14 09:14] dorthl commented on #7
+1

[2020-04-15 14:16] VikasAgarwal1984 opened #21 "3.1.1-nanoserver-1803 for ASP.NET Core Runtime is not available"
Hi,

i could not find 3.1.1-nanoserver-1803 for ASP.NET Core Runtime. I am not sure if it is intentional.
https://hub.docker.com/_/microsoft-dotnet-core-aspnet/
https://mcr.microsoft.com/v2/dotnet/core/aspnet/tags/list

If it is not supported, Where can i see compatibility matrix for same?

[2020-04-18 08:40] #21 closed

[2020-04-18 08:40] VikasAgarwal1984 commented on #21
https://github.com/dotnet/dotnet-docker/issues/1469

[2020-04-22 21:52] toddysm commented on #20
@bbehling Looking at the output, this doesn't seem to be a problem with the image but it looks to me more of an issue with the dependencies you have in the *.csproj file. The way I understand the error is that the package is not anymore in the local folder (i.e. it is not installed) and this may be the result of the restore operation.

Posting the project file may be helpful.

cc: @MichaelSimons w

[2020-04-22 21:57] toddysm commented on #19
@MRavenscroft apologies for the delay. Just wanted to check with you whether you are still experiencing the issue?

[2020-04-22 22:03] MichaelSimons commented on #20
@bbehling - I see the [package](https://www.nuget.org/packages/DnsClient/1.2.0) does exist on NuGet.  Is this something that worked in the past and now just started failing or is this a new Dockerfile you are trying to build?

This does not appear to be related to MCR so I would recommend closing this particular issue.  This looks like a question well-suited for [StackOverflow](https://stackoverfl

[2020-04-23 03:13] bbehling commented on #20
Hi.

I did post this on github and another user commented he was having the same problem.

Yes, the restore command was working February 1st when I published this API to AWS EB.

I narrowed the problem down to running
RUN dotnet restore

If I do not restore, the docker image will build. Note, that outside of docker, I can run the restore command which works.

Here is the content of my .csproj file

[2020-04-23 07:23] MRavenscroft commented on #19
No worries. Yep, we are still getting the issue same issue when we try to pull from there. We are working around it for now by building and hosting our own base images with the same contents as the official ones, but we'd much prefer to be able to use the official images.

[2020-04-23 17:52] toddysm commented on #20
@bbehling I don't think the .cproj file went through. Also, can you link to the other issue you mentioned above?

[2020-04-27 23:07] toddysm commented on #19
@MRavenscroft We are looking at this. Will keep you posted

[2020-04-28 09:09] jhkimnew commented on #19
@MRavenscroft, Would you troubleshoot with curl or chrome browser to narrow down (or troubleshoot) the issue again?

Here is how to do that.

Each docker image layer can be downloaded with the following URL form.

"https://mcr.microsoft.com/v2/<repository path>/blobs/<sha value>"

Supposing the repository path is "dotnet/core/sdk" and the layer's sha value is sha256:90fe46dd819953eb995f9cc9c326130

[2020-04-28 17:13] toddysm commented on #20
@bbehling As @MichaelSimons suggested, this may be a question for StackOverflow. Because this is not related to problems with Microsoft Container Registry, I will close the issue by the end of the week. Please let me know if you have any concerns with that.

[2020-04-28 20:14] jhkimnew commented on #19
@MRavenscroft
I happened to find the sha value of the error message you reported here can be made from the below image layer URL.  Please notice that the repository is "mcr/hello-world".

https://mcr.microsoft.com/v2/mcr/hello-world/blobs/sha256:095f049ec3a4c206f052648375b06599ce9d4332283bfd44ee99180c08df80f4

Can you confirm if the above URL matches the URL that you used when you received the err

[2020-04-28 20:28] toddysm commented on #18
@eternalphane I have contacted Windows team and filed an issue with them [here](https://github.com/MicrosoftDocs/Virtualization-Documentation/issues/1392)

Also, their recommendation is to request help on the [Windows Containers MSDN Forum](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowscontainers)

Having in mind that this is an issue with a particular image and not with MCR its

[2020-04-29 08:34] MRavenscroft commented on #19
Thanks,

I've done some of that troubleshooting, The error i get when i try to pull for example the dotnet core SDK image is:
[code]

And from that, i built the url with the sha: https://mcr.microsoft.com/v2/dotnet/core/sdk/blobs/sha256:4aa6a74611ff353e9fd7ab05a3f837bfecb894592d3ae921bad52008def6fd2a

Then, when i navigate or curl to that i get an SSL error saying i cannot connect to it
![image](h

[2020-04-29 15:58] bbehling commented on #20
Here is the csproj file.

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp3.1</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="MongoDB.Driver" Version="2.10.1" />
    <PackageReference Include="Newtonsoft.Json" Version="12.0.3" />
  </ItemGroup>

</Project>

[2020-04-29 16:01] bbehling commented on #20
This is the issue I opened on stackoverflow.
https://stackoverflow.com/questions/61167032/error-netsdk1064-package-dnsclient-1-2-0-was-not-found

A few other people are having issues with the Microsoft Container Register. Since others are having similar issues, seems it's possible this could be an issue with MCR.

[2020-04-29 17:25] toddysm commented on #20
@bbehling MCR only serves container images. The problem you are facing is that the dotnet build command which is run while you are building your image fails because the the DnsClient is not available. The DnsClient is fetched from NuGet and not MCR.

The StackOverflow post has a suggestion to use the `--no-cache` option, which you may want to try.

However, looking deeper into your error above, I

[2020-04-29 19:56] jhkimnew commented on #19
@MRavenscroft Did you check the certificate for the redirected URL? I sent the redirected URL from my machine. Even though I received "ERROR 403: Time-Limited URL validation", which is expected, I was able to see the certificate. It shows "*.cdn.mscr.io" for "Issued to:" as the below screenshot. Can you compare with this? If you received a different certificate for some reasons, that might be the

[2020-04-30 08:05] MRavenscroft commented on #19
ah, that could be promising. It does look like i'm getting a different certificate to you when i get to the page with the error:
![image](https://user-images.githubusercontent.com/62555707/80687084-a7fe3f00-8ac1-11ea-8ce5-f30b6f360c05.png)

[2020-04-30 18:24] jhkimnew commented on #19
@MRavenscroft Did you use the redirected URL which starts with "https://mcrneu0.cdn.mscr.io" when you get the certificate (mcr.microsoft.com) for the test? Please make sure to delete browser cache before testing.

https://mcrneu0.cdn.mscr.io/791e7ca5469f40b1b54c65b23e5dbde2-qgy0s4qedy//docker/registry/v2/blobs/sha256/4a/4aa6a74611ff353e9fd7ab05a3f837bfecb894592d3ae921bad52008def6fd2a/data?P1=15881

[2020-04-30 18:51] jhkimnew commented on #19
@MRavenscroft Can you try to use the below commandline tools to check what IP and what certificate is picked up from your machine?

nslookup mcrneu0.cdn.mscr.io
openssl s_client -showcerts -connect mcrneu0.cdn.mscr.io:443

Attached the screenshot which I got from my Ubuntu machine.

[code]

[code]

[2020-05-01 07:10] MRavenscroft commented on #19
This is what i get from the nslookup (when not connected to the corporate VPN)
[code]

And this is what i get from the curl:
[code]

[2020-05-01 18:21] jhkimnew commented on #19
@MRavenscroft
According to the returned result, the more detail is available in the Windows System event log. Can you check if the error event(s) shown certificate information?  If so, please send the information so that I can see what certificate is being used on your machine.

BTW, do you have any Linux (Ubuntu)  shows the same problem? If so, would you execute the same command on Linux (such as

[2020-05-05 16:53] bbehling commented on #20
@toddysm One of the troubleshooting steps I did take was to build the application outside of Docker which built successfully.

Also, as I posted, this error maximum path restrictions does not just occur in AWS Beanstalk. This is the error thrown when building the Docker image locally as well.

So if this is not a Docker or MCR related issue, what is the explanation and cause of this issue? The Doc

[2020-05-07 18:04] jhkimnew commented on #19
Hi @MRavenscroft, do you have any update?

[2020-05-11 07:29] MRavenscroft commented on #19
Hi @jhkimnew ,

I had a look through the windows event log but couldnt find anything in there. I don't have a linux machine available, but did run a different installation of curl which has given a different result (I'm not sure whether the one i was running before came with Windows by default, or with my Git installation as i believe i read that git has curl built-in).
The latest curl result whic

[2020-05-13 21:14] jhkimnew commented on #19
Didn't use "-L" parameter when you execute curl? If you use "-L", the curl will follow redirects and you don't need to run it for the redirected URL. Would you try again with "-L" and check if you still get the same access denied error? BTW, please give the full log and the command line you used so that I can understand what you tried and how to analyze the log.

C:\> curl --help
Usage: curl [opti

[2020-05-13 22:17] MRavenscroft commented on #19
Hi @jhkimnew

Sure thing, I've just double-checked, and the initial command I'd ran was the same one from above. The full log, including the command is:
[code]

[2020-05-14 08:14] jhkimnew commented on #19
Hi @MRavenscroft Honestly, I am not export on TLS issue. However, I think this is not a problem in MCR server side.

MCR web server is mirrored in multiple regions. So, can you use the different region server instead of using your geographical region server.

For example, in my region (westus), I can can the IP address with running "nslookup rpm0422wus.westus.cloudapp.azure.com".

Here is how to u

[2020-05-25 08:11] jahead opened #22 "Container failed during run: build. No retries remaining."
Hey guys,

We are seeing an intermittent issue on the MCR. We originally thought it was an Oryx issue, but it seems to be breaking at the docker pull stage.

See.
https://github.com/microsoft/Oryx/issues/602
For more information.

[2020-05-26 16:49] StratosBlue commented on #7
Is anybody there? Help the kids!!!

[2020-05-27 01:55] jhkimnew commented on #19
@MRavenscroft I am closing this issue considering this issue seems to happen only from your machine or a specific networks issue.

[2020-05-27 01:55] #19 closed

[2020-06-05 23:07] #18 closed

[2020-06-05 23:10] toddysm commented on #7
To update this thread - we are evaluating options to have a MCR replica in China region. It will take a while but we will try to keep you updated.

[2020-06-08 13:28] newbe36524 commented on #7
Help the kids pls.

[2020-06-17 00:29] newbe36524 commented on #7
Hi issue visitors, I just make a dotnet global tool to help you pull netcore related images from server hosted in China mainland, you check my post to use it . have a nice travel. [docker-mcr](https://www.newbe.pro/Others/Full-Speed-To-Download-Netcore-Docker-Images/index.html)
![image](https://user-images.githubusercontent.com/7685462/84841350-a211ec80-b074-11ea-8aa7-5420a06e17d1.png)

[2020-06-22 14:25] Koubek opened #27 "Slow download of the image from container registries"
Hello,

we are running hybrid (Win+Linux) Docker Swarm. We also span the whole cluster across multiple regions (today WEU and SAN). All nodes are VMs in Azure.

All primary infrastructure was established and has been operated in WEU. Mainly (and this is relevant in this case) the container registries (```[ourregistry].azurecr.io```).

The problem is since the last week (and not internal changes in

[2020-06-29 06:36] Koubek commented on #27
Hello @SteveLasker, please, may I ask you for an advice on how to proceed with this issue? It's a big problem for us as our dev infrastructure highly depends on containers and we have problems basically with Microsoft Container Registry only (not with Docker Hub registry). Thank you in advance!!!

[2020-06-29 15:19] SteveLasker commented on #27
Hi Koubek, sorry this is causing issues.
mcr is backed with regional cdn, so it should always be fast. For acr, replicating to the local regions should resolve. Are you using private link, where you may have customized the ip and routing?
if the troubleshooting docs (https://github.com/Azure/acr/blob/master/README.md#diagnostic--troubleshooting-links)  don't help, i’d suggest opening a ticket to g

[2020-06-29 20:56] Koubek commented on #27
@SteveLasker, thanks a lot for your response.

We replicate registries from WEU to SAN but there is no obvious advantage. The speed is still the same - very bad. Actually, before we were able to download images from WEU to SAN nodes quite quickly but then something happened and we don't know what (no changes on our side). Approx. 2 - 3 weeks back.

That's why we enabled geo-replication to SAN. But

[2020-06-29 21:08] SteveLasker commented on #27
Can you please open a ticket to drill in: https://aka.ms/acr/support/create-ticket

[2020-06-29 21:12] Koubek commented on #27
OK, we will do it. I just wanted to use GitHub issues as MS states the company is more oriented now on open-sourced projects and uses also tools like GitHub etc. But if that link is the way I will discuss it with my colleagues and they will open the support ticket there.

Thanks.

[2020-06-29 21:29] SteveLasker commented on #27
We are definitely focused on oss efforts, supporting our own and community driven projects. What you're describing should work as defined with regional routing. The questions you're raising are runtime instancing of specific Azure service which requires specific customer information to troubleshoot and diagnose the specific issue. Rather than ask you a bunch of detailed questions for your specific

[2020-06-29 21:39] Koubek commented on #27
Understand, thanks.

[2020-06-30 12:40] Koubek commented on #27
Hi @SteveLasker, I have have been heading to register the ticket and decided to check again (I was doing it more than one week on a daily basis) and everything worked like charm. The pull was super fast.

```nslookup``` against the registry URI was pointing now to the correct resources (SAN while when I was trying it before it was always pointing to WEU).

So I am not going to register the ticket

[2020-06-30 12:46] #27 closed

[2020-06-30 14:53] SteveLasker commented on #27
glad it worked out. If you added the region after initial configuration, it may have cached the previous endpoint. Please let us know if you have any other troubles.

[2020-06-30 19:45] bariscaglar commented on #22
@jahead how often does this happen? No recent change on MCR would affect this behavior, not intermittently anyway.

[2020-07-08 01:43] jahead commented on #22
@bariscaglar Hey it was happening a lot when it was reported. I also launched an Azure Support ticket. It doesn't seem to happen anymore. We (support engineers) never seemed to get to the root of the issue.

It has since resolved itself. Happened for about 2 - 3 weeks intermittently, this was an ACR task hitting the MCR.

I'm going to close this. Thanks for your help!

[2020-07-08 01:43] #22 closed

[2020-07-29 19:43] darkguy2008 commented on #7
Can this be used in Costa Rica? I'm experiencing the same issue here... already went through two FTTH ISPs 100/100, download speeds are just ridiculous

[2020-07-29 19:53] darkguy2008 opened #30 "MCR too slow in Costa Rica"
Okay so I've went through a lot of struggle with different ISPs here (had to move to a new home, so that's why) and no matter the ISP, downloading from mcr.microsoft.com is an ordeal.

This is going at around 200Kb/s (and my FTTH is 100/100mbps...):

![image](https://user-images.githubusercontent.com/6304136/88845666-b97ae400-d1a1-11ea-9acd-94558adaa700.png)

Or even less, watch the graph below:

[2020-07-30 00:50] newbe36524 commented on #7
@darkguy2008 do you mean my project using in Costa Rica?
 Maybe you could take a try on it.
If it is still slow, you can fork my project to re-publish the image to your server in Costa Rica.
My docker-mcr can download from specific server by pass some parameters. You can take look at with --help.

[2020-08-14 16:27] maikebing commented on #7
Three hours also failed to complete. It's torture.

[2020-08-14 16:28] maikebing commented on #7
docker pull mcr.microsoft.com/dotnet/core/sdk:3.1-buster   && docker pull mcr.microsoft.com/dotnet/core/aspnet:3.1-buster-slim

[2020-08-14 16:34] PMExtra commented on #7
@newbe36524 Did you sync any other mcr images such as mssql?

[2020-08-30 16:32] crclz commented on #7
@maikebing @PMExtra I hope this guide helps.

Guide to pull safe dotnet MCR images in mainland
教程：在中国大陆获取**安全的**MCR镜像: https://github.com/crclz/McrTransfer

[2020-08-31 01:12] newbe36524 commented on #7
maby you can take look on my solution https://github.com/newbe36524/Newbe.McrMirror

[2020-08-31 01:13] newbe36524 commented on #7
It is done .

[2020-10-08 11:02] ShivanMalde opened #35 "Pulling images from MCR is Slow"
The pulling of images from MCR has slowed down considerably in the past two days.
Previously it would take a max of 10-15 minutes to download a windowsservercore image, however since then it has been taking over an hour and still not completing download.
This has been replicated on Azure DevOps Microsoft hosted agents, as well as two PCs in different locations.
To replicate: _docker pull mcr.micro

[2020-10-08 11:05] oceaneLonneux commented on #35
We are currently having the same issue. We have tried from multiple laptops and servers to do `docker pull mcr.microsoft.com/dotnet/core/aspnet:3.1-buster-slim` but they take at least 30+ minutes to be successful

[2020-10-08 13:02] tomkeatingfei commented on #35
Same issue here when using Azure Devops build agents or Docker build locally. Taken a hour to /dotnet/core/sdk:3.1-buster

[2020-10-08 15:39] zectorpt commented on #35
It take about 18 min. 6 to pull and 12 to extract.

Its an image with about 7GB. Its reasonable.

![image](https://user-images.githubusercontent.com/10439948/95481302-c1ff5000-0984-11eb-8636-0485868615ca.png)

![image](https://user-images.githubusercontent.com/10439948/95481332-c9bef480-0984-11eb-909a-cdc8baa147fa.png)

jomedei

[2020-10-08 17:39] toddysm commented on #35
@ShivanMalde, @oceaneLonneux, and @tomkeatingfei would you mind timing the pulls and posting the results? Here the commands to execute:
**Linux/MacOS**
[code]

**Windows PowerShell**
[code]

We are looking at the issue but would like to isolate the regions where this is happening.

[2020-10-09 11:15] tomkeatingfei commented on #35
This seems to be resolved for me now. As an example yesterday pulling down /dotnet/core/sdk:3.1-buster timed out in azure devops agents as they have a 60min time limit (so taking > 60 mins to download). This morning it has only taken 32 seconds to pull down that package

[2020-10-09 12:50] ShivanMalde commented on #35
Issue looks to be resolved for me too, both on Azure DevOps agents and locally. All Based in South UK too.

Days              : 0
Hours             : 0
Minutes           : 16
Seconds           : 14
Milliseconds      : 552
Ticks             : 9745523654
TotalDays         : 0.0112795412662037
TotalHours        : 0.270708990388889
TotalMinutes      : 16.2425394233333
TotalSeconds      : 974.5523654
T

[2020-10-09 20:05] AndreHamilton-MSFT commented on #35
The increase in pull time that you observed was due to problems with our cdn. that issue has now been mitigated so you should no longer be experiencing extended pull times.

[2020-10-12 16:56] bariscaglar commented on #35
Please let us know if you have any further problems.

[2020-10-12 16:56] #35 closed

[2020-10-12 17:02] bariscaglar commented on #30
@darkguy2008 my apologies for the late response. We will ensure that these voices are heard in a more timely manner in the future. The issue you created fell between the cracks due to an inadequacy in our process. While we are fixing our process, I am curious if this is still happening for you. Central America has not been a region we have received complaints about before. While pulling image laye

[2020-10-14 18:32] bariscaglar commented on #7
We have started working on bringing an official MCR mirror for mainland China. It should be ready by the end of the year.

[2020-10-14 18:34] bariscaglar commented on #20
This is not an issue related to MCR. MCR is the distribution mechanism for the container images.

[2020-10-14 18:34] #20 closed

[2020-10-19 06:54] jmoeyersons commented on #30
Same issue in Belgium, the downloads of the different layers are very slow (when working with the visual studio dev containers)

[2020-10-23 16:36] fsdrw08 commented on #7
thank you very much, hope the MCR mirror to mainland China ASAP

[2020-10-30 22:51] bariscaglar commented on #30
@jmoeyersons do you still seeing issues? From time to time we encounter these slow downs, but they should eventually get resolved.

[2020-10-30 23:19] darkguy2008 commented on #30
No problem Baris, thanks a lot for your response, it's greatly appreciated.

Maybe after a month or two after I made this issue, it seems to have been resolved on its own. I don't really know what would have been the reasons as I'm still using the same ISP, but yeah that's what I imagined, some issue with the CDN being outdated (?) and pulling the images from a distant backend.

I tried again some

[2020-10-30 23:42] bariscaglar commented on #30
Great! Thanks for letting us know. @jmoeyersons if you're still seeing issues in Belgium please file a new issue!

[2020-10-30 23:42] #30 closed

[2020-11-03 13:42] jmoeyersons commented on #30
@bariscaglar Thank you for your comment. The downloads already happens a lot faster by now (not yet on max speed I think), but it is much more comfortable to work with.
No need for a new issue at the moment 😉

[2020-11-10 12:41] Webreaper opened #36 "Typo in Readme"
"ACR is a private container Registry for housing Our customers container Images" - should have an apostrophe: "Our customers' container images".

[2020-11-11 15:26] azkamil opened #37 "Windows server 2004 has IIS application pool connection limit of 10"
Hi,

In our docker build we changed our base windows image from 1809 to **mcr.microsoft.com/windows:2004**
After this our application(on IIS) runs into timeout under a minimal load, no connection can be established.
Analyzing w3wp dump gave us a hint that the cause maybe the max connection count of 10 per IIS application pool. As seen in the screenshot the number stopped increasing at 10. In 1809

[2020-11-11 16:31] azkamil commented on #37
I noticed that this is a wrong repo for this issue. I opened a new case here
https://github.com/microsoft/Windows-Containers/issues/73

[2020-11-19 16:37] sparrc opened #38 "Is the microsoft container registry subject to dockerhub throttling?"
Hello, as you probably know, [dockerhub has recently begun throttling pulls](https://www.docker.com/increase-rate-limits?utm_source=docker&utm_medium=web%20referral&utm_campaign=pull%20limits%20hub%20home%20page&utm_budget=).

Since the microsoft container registry has it's "discovery mechanism" through dockerhub, will it be subjected to dockerhub throttling? I mainly ask because it seems that the

[2020-12-02 20:41] bariscaglar commented on #37
Closing since the correct home for the issue is found

[2020-12-02 20:41] #37 closed

[2020-12-02 20:42] bariscaglar commented on #38
As long as images are pulled through mcr.microsoft.com, they are not subject to throttling.

[2020-12-02 20:42] #38 closed

[2020-12-11 08:21] xky0007 commented on #7
Almost the end of the year...

[2020-12-17 10:27] moredhel opened #40 "Builds for arm64"
As arm machines are becoming more popular (mostly due to the new apple silicon machines), it would be beneficial to start building arm64 images for both these & the new arm64 raspberry pi's.

[2020-12-17 15:49] MassimilianoCuccia opened #41 "where are the logs?"
I can't see logs!
no logs inside the container, neither in the docker dashboard

[2021-01-01 14:48] Johnmancini30 opened #42 "docker debian net core image bug"
[code]
This is the docker file. I want to download nodejs to the container because I am building a spa app.

This is the error I get

[code]

I have tried looking into this error but have found nothing useful. If someone can suggest a different route to get nodejs on a container built from a dotnet core image that is fine as well. Thank you.

[2021-01-04 13:58] MichaelSimons commented on #42
The issue you encountered  `File has unexpected size (13229 != 258108). Mirror sync in progress?` is more than likely related to the Debian package feed and is not something specific to the .NET Docker image or MCR.  The package repository issues are not uncommon in my experience.  You can verify this is not specific to the .NET image by running the same commands in the `debian:buster-slim` base i

[2021-01-06 18:31] bariscaglar commented on #41
Hi @MassimilianoCuccia MCR is the distribution mechanism for the container images. Please contact the owner of the images for issues related to container runtime.

[2021-01-06 18:31] #41 closed

[2021-01-06 18:41] bariscaglar commented on #40
Thank you for your suggestion, but MCR does not build these images as it is only the distribution mechanism. I would recommend reaching out to the owners of the specific images for which you would like to see ARM distributions.

[2021-01-06 18:41] #40 closed

[2021-01-13 07:01] kuzhao opened #43 "Outstanding CVEs in MCR images used in AKS"
Looks like certain security risks published in CVEs (can be queried at https://nvd.nist.gov/vuln) are lurking in some MCR images for AKS components. Below is a Twistlock scan result:
[code]
Is there a routine for continuous vulnerability checks and plan on shooting them down?

[2021-01-26 19:51] bariscaglar commented on #43
@kuzhao There's currently no plan to remove images with vulnerabilities from MCR but we are working on a solution to make the vulnerability scans public.
@toddysm FYI.

[2021-01-28 08:59] xmapst commented on #7
It's the beginning of the year...

[2021-02-03 09:21] ArisBee opened #44 "Outstanding CVE in MCR image used for MLOPS"
Trivy found a high CVE vulnerability in the latest python image used for MLOPS (`mcr.microsoft.com/mlops/python:latest`). Could a new patched version be published by Microsoft?

Is there perhaps a link to the Dockerfile so we can build the image directly in our pipeline?

[code]

[2021-02-05 00:44] bariscaglar commented on #7
Sorry to keep you all waiting, but I'm happy to say that we have set up CDN endpoints in mainland China. Please let me know how this is working out.

[2021-02-05 00:44] #7 closed

[2021-02-05 02:36] Dolphinsimon commented on #7
I have tested the sever location. Looks it still routes me to the HK data center.

[2021-02-05 02:37] Dolphinsimon commented on #7
nslookup mcr.microsoft.com

Non-authoritative answer:
Name:    rpm0125ea.eastasia.cloudapp.azure.com
Address:  13.75.34.157
Aliases:  mcr.microsoft.com
          global.fe.mscr.io
          mcr-global.trafficmanager.net

[2021-02-05 02:44] crclz commented on #7
@bariscaglar
It works fine, both on my home computer and on my aliyun cloud server. `docker pull` speed is fast.

[2021-02-05 06:59] qweeah commented on #7
`mcr.microsoft.com` is the domain for Registry Runtime. You will be automatically redirected to our Registry Data Endpoint based on you geo-location. If you are in mainland China, probably `eastasia.data.mcr.microsoft.com` or `eastasia.data.mcr.microsoft.com`.

[2021-02-05 07:03] Dolphinsimon commented on #7
So, there is no cdn endpoints in China Mainland. The nearest data center is located in HK.

[2021-02-05 07:05] qweeah commented on #7
Try nslookup the Registry Data Endpoint domains and you will get answer :)

[2021-02-05 07:14] Dolphinsimon commented on #7
The `eastasia.data.mcr.microsoft.com` works, I've got a cdn node in Azure China.
Thanks for your explanation.

[2021-02-05 19:28] bariscaglar commented on #42
Please reactivate if this issue still persists.

[2021-02-05 19:28] #42 closed

[2021-02-05 19:30] bariscaglar commented on #36
Fixed in #39

[2021-02-09 09:59] ateng2010 opened #47 "How can I change initial database COLLATION?"
Default COLLATION is SQL_Latin1_General_CP1_CI_AS, how to change it?

[2021-02-10 22:17] bariscaglar commented on #47
This repository is for reporting issues that occur during the docker pull phase. Please reach out to owners of these products for product specific questions.

[2021-02-10 22:17] #47 closed

[2021-02-25 02:11] yohanb opened #49 "docker"

[2021-02-26 18:22] bariscaglar commented on #49
Please provide more information regarding the nature of your problem

[2021-02-26 18:22] #49 closed

[2021-03-05 05:39] kaiidams opened #50 "Python package sympy missing from onnxruntime-training"
The package is required by this example,
https://github.com/microsoft/onnxruntime-training-examples/blob/4dae9249b75174a2b7f13012138831063cd14794/nvidia-bert/ort_addon/run_pretraining_ort.py#L40

To reproduce, run the following. `latest` has the same issue.
[code]

[2021-03-10 05:52] ladlesshaikh opened #51 "Kubernetes cluster containers getting destroyed after migration to mcr.microsoft.com/dotnet/core/aspnet:3.1"
With recent migration of our app from **microsoft/aspnetcore:2.0** to **mcr.microsoft.com/dotnet/core/aspnet:3.1**

We observed automatic decommission of the containers for minute or so and they getting restored, we are using nginx as the api gateway. And because of this outage we are getting increased 502 errors.

Everything was ok till the migration.

[2021-03-10 17:03] timmjd opened #52 "Missing metadata for multiarch images"
Seems there is a problem with the current MCR implementation if you try to cache it trough a system like Artifactory:
* https://www.jfrog.com/jira/browse/RTFACT-17611
* https://www.jfrog.com/jira/browse/RTFACT-21095
* https://www.jfrog.com/jira/browse/RTFACT-21391

Debugging the registry calls you potentially would need to do as a docker daemon:
[code]

This does work fine:
All calls will be forwa

[2021-03-24 19:55] jbiel opened #53 "20H2 tags missing for windows/servercore/iis"
We're updating our build pipelines to prep for 20H2 and found that the `windows/servercore/iis` repository has images tagged as `2009`, while all other repositories that we use are tagging as `20H2`. As far as I can tell, the `20H2` images in other repositories are the most updated ones and `20H2` is the preferred nomenclature.

[2021-03-24 20:14] MichaelSimons commented on #53
cc @John-Hart

[2021-03-24 22:06] John-Hart commented on #53
Thanks @jbiel.  I'm looking into this.  We had used 2009 as the base image so it's tagged the same.

[2021-03-24 22:28] jbiel commented on #53
Thanks, I've been reading about this and the 2009 vs 20H2 situation is a bit of a mess. https://borncity.com/win/2020/10/18/windows-10-20h2-wie-heit-es-denn-nun-och-microsoft-einigt-euch/

[2021-03-29 20:45] jbiel commented on #53
Hello, just wanted to check in to see if there's any kind of update on this. We're moving lots of our workloads over to Kubernetes and would like to have 20H2 images in place. Thanks!

[2021-03-30 15:24] danil2308 opened #54 "AzureMonitor missing on MCR"
Hey,

I'm having problems while executing `bash enable-monitoring.sh --resource-id $azureArcClusterResourceId`

Error says
`Error: mcr.microsoft.com/azuremonitor/containerinsights/preview/:2.8.2: not found`
If I go to https://hub.docker.com/publishers/microsoftowner I don't see any image for containerinsights

I'm following the next guide to achieve Azure monitoring with Azure ARC

https://docs.mi

[2021-03-31 12:23] Gladskih opened #55 "Extremely slow pull mcr.microsoft.com/dotnet/sdk:5.0 in Moscow (Russia)"
I'm experiencing extremely slow image pull in Moscow (Russia)
[build 1/7] FROM mcr.microsoft.com/dotnet/sdk:5.0@sha256:48922a379d1f54390d5b8655933d3a62877c1fd46d44ab39cb4133fb1d230681
sha256:e98a60ea39354b242a6cddc260cf41743d5738890323240e609fb91369cc5c19 **17.07MB / 17.07MB 290.2s done**
sha256:62b021f1f14578ffb7f9b9860e9bef156bd26bda5dd16c671d8ce850a5b88110 **155B / 155B 290.8s done**
...
sha256

[2021-03-31 19:25] davecore82 commented on #54
I also just hit this issue. I replaced `mcrChartVersion="2.8.2"` with 2.8.1 in the enable-monitoring.sh script and ran it again with success.

[2021-04-06 12:36] mthalman opened #56 "mcr.microsoft.com error pulling aspnet image"
@dave-yotta commented on [Tue Apr 06 2021](https://github.com/microsoft/dotnet-framework-docker/issues/750)

CI got this over the weekend - this probably isn't the right place to report this, but I'm out of ideas - I guess you'll have to forward this to your azure service provider there 🤔 (I tried looking for past incidents in the azure status page, but couldn't find it...)

#3 ERROR: failed to co

[2021-04-07 11:54] rcowsill commented on #52
It looks like MCR only returns multiarch manifests if the accept header includes `application/vnd.docker.distribution.manifest.list.v2+json`, eg:
[code]

[2021-04-12 18:14] rcowsill opened #57 "Can't list tags for various repos on MCR"
The repos listed below are included in https://mcr.microsoft.com/v2/_catalog, but the corresponding tags page is missing (error: BlobNotFound).

The tags page for (eg) `mssql/tools` is referenced from: https://hub.docker.com/_/microsoft-mssql-tools so I expect it should exist.

Repo | Tags List URL
------|--------------
aks/hcp/nginx | https://mcr.microsoft.com/v2/aks/hcp/nginx/tags/list
cosmosdb/

[2021-04-12 23:45] geajonesv opened #58 "PS C:\Users\Administrator> docker pull mcr.microsoft.com/windows/servercore:ltsc1809"
I am trying to use docker run to download an image and get the error below
PS C:\Users\Administrator> docker pull mcr.microsoft.com/windows/servercore:ltsc1809
docker : Error response from daemon: Get https://mcr.microsoft.com/v2/: net/http:
request canceled while waiting for connection (Client.Timeout exceeded while awaiting
headers)

[2021-04-16 08:55] oscarmh commented on #56
Hi, any news on this one ?

[2021-04-22 20:17] jonjohnsonjr opened #59 "Your build tool has a typo: rootfS"
Whatever is producing these images has a typo in the config file generation.

Looking at the config file for:
[code]

[code]

That `S` in `rootfS` is capitalized, but it should probably be `rootfs` per [the spec](https://github.com/opencontainers/image-spec/blob/269c1c5e1dca62a25c5fa94929776d758f5373ab/config.md#properties) and [specs-go](https://github.com/opencontainers/image-spec/blob/269c1c5e1

[2021-04-28 20:38] rcowsill commented on #59
I hit this issue working on `docker save` archive processing in [satackey/action-docker-layer-caching](https://github.com/satackey/action-docker-layer-caching).

It's on the backlog over at microsoft/Windows-Containers already, see: microsoft/Windows-Containers#107

[2021-05-19 18:41] jbiel commented on #53
This seems to be remedied as the following tags are now in place. Closing issue.

[code]

[2021-05-19 18:41] #53 closed

[2021-05-27 20:47] wbrefvem opened #62 "mcr.microsoft.com is down"
I'm sure this isn't the right place to report this, but mcr.microsoft.com is down. Is there a way to check its status and/or report an error? `status.azure.com` has an entry for "Container Registry" but it's not clear if this is the same thing. Any guidance you could provide would be appreciated.

Here's what goes wrong:

[code]

I got this error running locally on macOS. Restarting the docker dae

[2021-05-27 20:58] wbrefvem commented on #62
Actually the error on GitHub Actions is perhaps more informative:

[code]

It seems that DNS records for `mcr.microsoft.com` are incorrect.

Locally, on macOS:

[code]

[2021-05-27 21:18] doominator42 commented on #62
I'm having the exact same issue as well.
I tested from Google and Cloudflare DNS servers and both from my home network and from an OVH server. They all returns `255.255.255.255` for `rpm0408eus.eastus.cloudapp.azure.com`.

`mcr-global.trafficmanager.net` seems to randomly alternate between `rpm0408eus.eastus.cloudapp.azure.com` and `rpm0507eus.eastus.cloudapp.azure.com` causing intermittent interr

[2021-05-27 21:23] kkorniszuk commented on #62
I got the same with containerized .net app on heroku

[2021-05-27 21:36] ctmdev21 commented on #62
msft rescue our CD pipelines :fire::fire::fire:

[2021-05-27 22:18] leojonathanoh commented on #62
github worfklows are failing with the same DNS issue, can't pull any powershell images. https://github.com/theohbrothers/PSSiteScraper/pull/29/checks?check_run_id=2689382257

[2021-05-27 22:26] toddysm commented on #62
Looking into it.

[2021-05-27 22:33] wbrefvem commented on #62
I've noticed the same thing. It could be an issue with local DNS caching? Not sure what to do about that on GitHub.

[2021-05-27 22:40] wbrefvem commented on #62
It looks like this may have been a temporary DNS issue -- I seem to be getting `rpm0507eus.eastus.cloudapp.azure.com` pretty consistently in the chain of CNAME records attached to `mcr.microsoft.com`, and that seems to resolve to a valid IP. But I'm going to leave this issue open until some from Microsoft weighs in.

[2021-05-27 22:41] leojonathanoh commented on #62
appears to have resolved

[2021-05-27 23:01] toddysm commented on #62
@wbrefvem and @leojonathanoh We have mitigated the issue. You may see some occasional failures because of DNS caching. I will post more details what the issue was once we do the post mortem.

[2021-05-27 23:07] wbrefvem commented on #62
@toddysm thanks!

[2021-05-27 23:19] toddysm commented on #62
**Root Cause:** During our investigation, we identified a networking issue caused by a recent deployment that altered MCR's DNS configuration. In this case, MCR's DNS was affected at one point of ingestion which resolves requests for multiple regions. This resulted in MCR being intermittently unavailable to process the service management requests.

**Mitigation:** We rerouted traffic for MCR reque

[2021-05-27 23:19] #62 closed

[2021-05-29 14:32] jc-lab opened #63 "How to install ReverseForwarders on nanoserver container?"
How to install ReverseForwarders on nanoserver container?
I need the missing dlls in nanoserver.

[2021-05-30 04:44] #63 closed

[2021-06-01 12:21] mayasin-dev opened #64 "aqua scan reported an issue in mcr.microsoft.com/dotnet/sdk:5.0"
![image](https://user-images.githubusercontent.com/83573588/120322386-fb187600-c301-11eb-827e-d913f02e56c8.png)

[2021-06-01 13:51] MichaelSimons commented on #64
@mayasin-dev, Any issues regarding the .NET images should be opened in https://github.com/dotnet/dotnet-docker/issues.

[2021-06-01 13:56] #64 closed

[2021-06-01 13:57] mayasin-dev commented on #64
Thanks @MichaelSimons. Closed the review.

[2021-06-09 16:14] Kasisrinivasan opened #65 "Microsoft container images discovery experiences on DockerHub"
Readme points to the [blog post](https://cloudblogs.microsoft.com/opensource/2019/01/17/improved-discovery-experience-microsoft-containers-docker-hub/) which describes the Microsoft container discovery experiences on Docker hub. With the [recent announcement ](https://techcommunity.microsoft.com/t5/azure-developer-community-blog/deprecating-the-distribution-of-microsoft-container-images-via/bc-p/2

[2021-06-12 03:42] bariscaglar commented on #65
Hi Kasisrinivasan, the discovery experience on Docker Hub is still relevant, until it's replaced with another experience natively from Microsoft Container Registry. The recent announcement refers only to docker pull microsoft/* images and not the actual discovery. All Microsoft images you find in DockerHub should refer to a docker pull mcr.microsoft.com/*, but still the readme files are and will b

[2021-06-12 03:45] bariscaglar commented on #58
Hi @geajonesv, there's no such tag for that image. The only ltsc tags for that specific image are:
    "ltsc2016",
    "ltsc2016-amd64",
    "ltsc2019",
    "ltsc2019-amd64",
    "ltsc2019_amd64"

You can see the available tags at https://mcr.microsoft.com/v2/windows/servercore/tags/list

[2021-06-12 03:45] #58 closed

[2021-06-12 03:48] bariscaglar commented on #59
Sounds like Windows-Containers is already aware of this issue. Closing

[2021-06-12 03:48] #59 closed

[2021-06-12 03:50] bariscaglar commented on #57
@rcowsill is there any tag that you can actually pull in any of those images? My guess is these images have no tags and somehow they are not removed from the catalog.

[2021-06-12 04:05] bariscaglar commented on #56
Is this an intermittent thing or are you always having the same issue? I can't repro this on my end. We have no other reports of it, either. @oscarmh @dave-yotta

[2021-06-12 04:06] bariscaglar commented on #55
@Gladskih are you still experiencing the same issues? Sounds like an intermittent CDN issue in your location.

[2021-06-12 04:14] bariscaglar commented on #52
Thank you for the suggestion. This is a client implementation detail. We also don't control the underlying registry implementation.

[2021-06-12 04:14] #52 closed

[2021-06-12 10:53] Gladskih commented on #55
@bariscaglar Yes. I just try to store base images in cache or do update in background of other daily job. I totally cannot rely on Microsoft registry.

[2021-06-12 11:22] rcowsill commented on #57
It's hard to prove otherwise without being able to list the tags :wink:

That said, I _was_ able to pull mcr.microsoft.com/mssql-tools:latest, which is listed at https://hub.docker.com/_/microsoft-mssql-tools. That Docker Hub page links to https://mcr.microsoft.com/v2/mssql/tools/tags/list (BlobNotFound).

For most of the other repos I had no luck finding their corresponding Docker Hub page.

The

[2021-06-12 11:37] rcowsill commented on #57
Reported the missing IOT images here: Azure/Industrial-IoT#1226

The GitHub repo linked from https://hub.docker.com/_/microsoft-terraform-on-azure-shell (azure/terraform-cli) is 404, so I guess that needs cleaning up on Docker Hub.

[2021-06-14 20:13] bariscaglar commented on #55
One more question:
It looks like you were pulling these layers at 1Mbit/sec. Can you confirm that pulling a similar image, say from DockerHub, you get better transfer speeds?

We will look into speeds from the CDN provider in your region (Moscow) and compare to the 1Mbit/second you are observing.

[2021-06-14 20:17] bariscaglar commented on #51
hi @ladlesshaikh the behvaior you're observing is more likely to be a side affect of the actual dotnet image version increase than where you're pulling it from. Could you contact the dotnet team at https://github.com/dotnet/dotnet-docker and share your experience?

[2021-06-14 20:17] #51 closed

[2021-06-14 20:19] bariscaglar commented on #50
@manashgoswami Is this something your team can help with?

[2021-06-15 01:48] qweeah commented on #55
@Gladskih It depends on which data endpoint  you are landing on, can you:

1) Provide the domain name in the result of `curl https://mcr.microsoft.com/v2/mcr/hello-world/blobs/sha256:1b930d010525941c1d56ec53b97bd057a67ae1865eebf042686d2a2d18271ced`

2) If the domain name is southeastasia.data.mcr.microsoft.com, provide the result of `nslookup southeastasia.data.mcr.microsoft.com`

[2021-06-15 08:10] dave-yotta commented on #56
I've only seen it once or twice, and not recently, maybe you have API monitoring to tell you something?

[2021-06-16 10:46] tomhobson commented on #56
We're now getting this consistently

[2021-06-17 21:31] clbx opened #66 "Provide Container Digest without having to pull image"
As part of our processes we need to have some kind of verification that matches a downloaded container with one that exists remotely, the digest fills this, however I can't find any way to view the digest on docker hub, or otherwise remotely.

Many other images have their digests available on the docker hub page such as [alpine](https://hub.docker.com/_/alpine?tab=tags&page=1&ordering=last_updated

[2021-06-18 21:33] amityagov commented on #55
Hello everyone!

I can confirm this. Really slow pulling images from mcr.microsoft.com and its lasts for months.

Russia, Yaroslavl

e. g.

[2021-06-22 07:23] qweeah commented on #55
@amityagov To investigate, could you provide below information on your PC and the VPS? Thanks!

1. Domain name in the non-redirected result of the below command(it should be like *.data.mcr.microsoft.com):
[code]

2. DNS lookup result of the domain name:
    E.g. If the domain name is eastasia.data.mcr.microsoft.com, provide the result of `nslookup eastasia.data.mcr.microsoft.com`

[2021-06-22 07:31] amityagov commented on #55
@qweeah

1.
* PC - westeurope.data.mcr.microsoft.com
* VPS - westeurope.data.mcr.microsoft.com

2.
* PC - Server:  dns.google
Address:  8.8.8.8

Non-authoritative answer:
Name:    a-0016.a-msedge.net
Address:  204.79.197.219
Aliases:  eastasia.data.mcr.microsoft.com
          mcr-eastasia.trafficmanager.net
          eastasia-data-mcr-microsoft-com.a-0016.a-msedge.net

* VPS - Server:         127.

[2021-06-23 03:02] qweeah commented on #55
You are hitting our Azure Front Door CDN resources in West Europe .

@amityagov Can you ran `traceroute westeurope.data.mcr.microsoft.com` from your PC and VPS and paste the result, Thanks.

[2021-06-23 06:38] amityagov commented on #55
@qweeah

VPS

traceroute westeurope.data.mcr.microsoft.com
traceroute to westeurope.data.mcr.microsoft.com (204.79.197.219), 30 hops max, 60 byte packets
 1  * * *
 2  10.82.8.244 (10.82.8.244)  2.163 ms 10.82.8.162 (10.82.8.162)  2.544 ms 10.82.8.160 (10.82.8.160)  2.508 ms
 3  138.197.250.106 (138.197.250.106)  2.536 ms 138.197.250.112 (138.197.250.112)  2.485 ms 138.197.250.114 (138.197.250.114

[2021-06-23 07:55] qweeah commented on #55
@amityagov It's all about network geo-location. Your VPS enjoys a fast download speed because the DigitalOcean Data Center is located in German, directly hop to Microsoft back bone network in Netherlands with latency less that 4ms. But for you PC it tooks 10 hops to reach Microsoft data center in German with 10 times of latency.

MCR's data endpoint is built upon Azure Front Door service, whose pr

[2021-06-25 06:28] qweeah commented on #55
Hi @amityagov, I was talking to the upstream infra team and they can help take a look at this issue. Can you help run the following command, wait for the downloading(26MB) completes and collect the `x-msedge-ref` header in the response of redirected request, on your PC:

[code]
Thanks in advance for helping out.

[2021-06-25 09:39] amityagov commented on #55
Hi @qweeah

`0000: X-MSEdge-Ref: Ref A: 5EBB5BF061E74F83AC87A753CA7156D5 Ref B: FRA`

[2021-06-26 15:14] rcowsill commented on #66
I think DockerHub doesn't show the digests for Microsoft images because they're hosted externally on Microsoft Container Registry. The equivalent digests for microsoft images are available through MCR's registry endpoint.

One way is to make a HEAD request and look at the `Docker-Content-Digest` response header:
[code]

Alternatively, fetch the whole manifest and calculate its SHA256 hash:
[code]

[2021-06-26 17:39] clbx commented on #66
This is wildly helpful, thank you @rcowsill

[2021-06-26 17:39] #66 closed

[2021-06-28 05:38] qweeah commented on #55
Should be something like  `x-msedge-ref: Ref A: B2F205AD8D10436F96066A2785EB8A99 Ref B: SG2EDGE1518 Ref C: 2021-06-25T06:23:01Z`, can you copy the full header? Thanks

[2021-06-28 06:44] amityagov commented on #55
[code]

[2021-06-29 09:17] DiggitCamara opened #67 "IP seemingly hardcoded into layer"
I cannot download the image corresponding to dotnet/sdk because one of the layers, corresponding to windows/nanoserver (sha starts with e4800) seems to have the address for mcr.microsoft.com hardcoded as the tcp address 13.69.64.80. Since the certificate does not correspond with the hardcoded address, I get security warnings even when trying to access the address via https on the browser.  Because

[2021-07-06 21:03] bariscaglar commented on #67
@DiggitCamara could you tell us what the exact docker pull command that's failing? If you can copy past the entire command as well as the entire output from your console, that could give us a clue.

[2021-07-06 21:08] bariscaglar commented on #56
Hi @tomhobson could you paste here the exact command you are running as well as the output so we can investigate on our end?

[2021-07-06 21:23] alyssadecasa commented on #57
@rcowsill The catalog list https://mcr.microsoft.com/v2/_catalog has been updated. Invalid repos such as the ones you reported have been removed.

Of the ones reported, three are currently valid repos with valid tags list pages:
- azuredefender/stable/pod-collector
- azure-cognitive-services/form-recognizer/layout
- mir/m

We are currently looking into removing these invalid repos and their tag li

[2021-07-07 05:55] DiggitCamara commented on #67
@bariscaglar I believe it was docker pull mcr.microsoft.com/dotnet/sdk:5.0 , but it might have been without the tag. It could be that the user I was using (I am behind a corporate Proxy) was temporarily disabled somehow.

The pull initiated and most of the layers were pulled correctly; but like I said, the layer with sha starting with e4800 seemed to have several retries until it was abandoned and

[2021-07-09 14:25] DiggitCamara commented on #67
On further review, the pull actually was not directly on mcr.microsoft.com but rather via a JFrog artifactory. My guess would be the issue might rather be located at that level.

[2021-07-11 02:58] btrepp opened #68 "mcr.microsoft.com/azure-cli:2.0.72 missing azcopy"
Hi All,

It seems azure-cli image, and azure cli shells out to azcopy for some commands, however this isn't in the docker image.

[code]

[2021-07-15 09:06] ameer-thasthahir opened #69 ".net core 2.0 base image is not found in dockerhub"
.Net Core 2.0 base image has been used in docker file like below.

**FROM microsoft/aspnetcore**

Docker throws the below error while trying to fetch the base image from the docker hub.

 **> [internal] load metadata for docker.io/microsoft/aspnetcore:latest:
------
failed to solve with frontend dockerfile.v0: failed to create LLB definition: pull access denied, repository does not exist or may re

[2021-07-15 17:41] DavidLeonardoGutierrez opened #70 "Alpine 3.14.0 or 3.13.5 image in .NET Runtime Dependencies"
Hi folks.

I couldn't find alpine 3.14.0 or 3.13.5 version in https://hub.docker.com/_/microsoft-dotnet-runtime-deps/ .
I think the latest is 3.13.4.

I'm wondering if there is any short-term plan to include a new image in the repository mcr.microsoft.com/dotnet/runtime-deps with alpine 3.14.0 or 3.13.5 version or if is there any workaround or recommendation you can provide?

[2021-07-15 18:08] tomhobson commented on #56
Hey @bariscaglar looks like the issue is resolved. We had the issue for a couple of days and had to move a few services over to a new registry url. It looks like it's all fine now though.

[2021-07-16 20:25] #70 closed

[2021-07-19 22:38] jinch opened #71 "Using "mcr.microsoft.com/mssql/server:2019-latest" - Docker build hangs on 'xplog70.dll' version 'xxx'"
**System Information:**
OS: macOS Catalina 10.15.7
Docker Image: mcr.microsoft.com/mssql/server:2019-latest

**Context:**
After updating my old DockerFile `FROM microsoft/mssql-server-linux:2017-latest`
to the newer... `FROM mcr.microsoft.com/mssql/server:2017-latest`

_My build is stuck on this Terminal message and never completes:_
`cfml_1      | WARNING: org.xerial's sqlite-jdbc is not loaded.

[2021-07-28 05:56] rocket357 opened #72 "mcr.microsoft.com/dotnet/core/aspnet:3.1.16-focal-arm32v7 missing gnupg package required to verify repo sigs"
root@bananapim3:~# docker run -it mcr.microsoft.com/dotnet/core/aspnet:3.1.10-focal-arm32v7 /bin/bash
Unable to find image 'mcr.microsoft.com/dotnet/core/aspnet:3.1.10-focal-arm32v7' locally
3.1.10-focal-arm32v7: Pulling from dotnet/core/aspnet
a3a20c5d313f: Pull complete
67966bd810ce: Pull complete
c8282ed68976: Pull complete
92b273b769b6: Pull complete
fc3bfea222ac: Pull complete
e03f56c977a3: P

[2021-07-28 06:24] rocket357 commented on #72
Disregard, running --privileged "resolves" the issue.

[2021-07-28 06:24] #72 closed

[2021-07-29 08:07] ziadsa opened #73 "dotnet core images are not working after the update on 29.07"
Since the images update yesterday, I cannot build any image for my code (.Net core 3.1). Error message and full logs can be found under my StackOverflow [question](https://stackoverflow.com/questions/68561615/ms-dotnet-core-container-images-are-cracked-error-ctc1014?noredirect=1#comment121171270_68561615)

Hope for quick help, since we are totally blocked in the project!

[2021-07-29 08:41] btbensoft opened #74 "certificate has expired or is not yet valid on mcr.microsoft.com/dotnet/sdk:5.0"
Hello,

I got an error when i'm trying to pull mcr.microsoft.com/dotnet/sdk:5.0

![image](https://user-images.githubusercontent.com/36570423/127460514-275d4369-f89d-4c6e-b6f4-10d95400abdc.png)

What i should do?

Thanks

Benjamin

[2021-07-29 23:20] qweeah commented on #73
Does it happens on Windows or WSL? Can you print the system time on your computer?

[2021-07-29 23:25] qweeah commented on #74
What is the system date time, can you paste the result of `Get-Date`?

[2021-07-30 06:30] btbensoft commented on #74
Is working now...

[2021-07-30 06:30] #74 closed

[2021-07-30 08:27] ziadsa commented on #73
I working on Windows10, but I use Linux as target system for my docker images.

Yes, I can print the system time, the .Net compiler works well on my machine, just pulling the base images is not working.

[2021-07-30 11:57] ziadsa commented on #73
A Machine reboot was the solution. I just restarted my Windows machine and it works again!

[2021-07-30 11:57] #73 closed

[2021-08-05 15:04] AchoArnold opened #75 "dial tcp 204.79.197.219:443: connect: connection refused when pulling images"
When I try to pull the image with

[code]

I get the error

[code]

I noticed that the pull works fine when I'm on the VPN. Could it be that my IP address is blocked? If that's the case, how do I unblock it?

[2021-08-06 16:21] toddysm commented on #75
@alyssadecasa can you please take a look?

[2021-08-06 17:17] jfrancis537 commented on #75
@AchoArnold What region was your VPN in? Could you try again today to see if it was a transient network issue.

[2021-08-06 17:25] AchoArnold commented on #75
Hello, I just again, I still get the same error. It works well when I connect to a VPN in the Netherlands. The IP of my home internet is
 82.131.54.84 of course it's a shared IP by my ISP.

[2021-08-06 18:01] jfrancis537 commented on #75
Can you ping mcr.microsoft.com and tell me what the IP you are hitting is?

[2021-08-07 04:03] AchoArnold commented on #75
@jfrancis537

[code]

[2021-08-09 02:46] qweeah commented on #75
@AchoArnold Can you:
1. Run the following command, wait for the downloading(26MB) completes and collect the **x-msedge-ref** header in the response of redirected request
[code]

2. Provide the result of `traceroute westeurope.data.mcr.microsoft.com`

Thanks.

[2021-08-09 12:31] AchoArnold commented on #75
@qweeah

[code]

[code]

[2021-08-10 00:01] qweeah commented on #75
@AchoArnold  From the provided logs, you are able to visit mcr.microsoft.com and get the token URI (even with a high rate of packet loss), but the root cause of the image pull failure is that **our data endpoint**, westeurope.data.mcr.microsoft.com, **is totally not reachable on your side**.

I will talk with the network team to see if they have any idea on that. For now, please use VPN to pull im

[2021-08-10 20:20] AchoArnold commented on #75
Thanks @qweeah. Please keep me posted.

[2021-08-12 05:32] qweeah commented on #75
@AchoArnold  Can you also provide those information with VPN on? Also, what is your network ISP?

Thanks

[2021-08-12 06:20] AchoArnold commented on #75
@qweeah  With VPN

[code]

[code]

[2021-08-12 11:25] craig-plutoflume opened #76 "Docker tag runtime-deps:3.1.18-alpine3.13 Does Not Exist"
According to [here](https://mcrflowprodcentralus.data.mcr.microsoft.com/mcrprod/dotnet/runtime-deps?P1=1628768178&P2=1&P3=1&P4=UU3EOcZIUZRUNa3%2FnGcGzrHon5ZsS%2BM%2BW7UGmjAmDQk%3D&se=2021-08-12T11%3A36%3A18Z&sig=ME4rhC3BhPRRFUd4Oc7Mcp74u1VSkVhbwYR41cP8Els%3D&sp=r&sr=b&sv=2015-02-21) and [here](https://hub.docker.com/_/microsoft-dotnet-runtime-deps?tab=description) this docker image/tag should exis

[2021-08-12 12:45] craig-plutoflume commented on #76
Just a bit more info:
[code]
Vs
[code]

[2021-08-12 12:59] mthalman commented on #76
The repository you're referencing is `mcr.microsoft.com/dotnet/core/runtime-deps`.  Instead, you should be using `mcr.microsoft.com/dotnet/runtime-deps`.  This is related to the [repo migration](https://github.com/dotnet/dotnet-docker/issues/2375) announced last year.   Since 3.1.18 is a new tag, it was only published to the `mcr.microsoft.com/dotnet/runtime-deps` repository and not `mcr.microsoft

[2021-08-12 13:28] craig-plutoflume commented on #76
Thanks @mthalman!

[2021-08-12 13:28] #76 closed

[2021-08-13 00:58] qweeah commented on #75
@AchoArnold Thanks for all the information. Talked to the infra team, their opinion is that it's a client or customer environment issue, probably a firewall block or network connection issue from your ISP side.

[2021-08-13 00:58] #75 closed

[2021-08-15 14:52] jinch commented on #71
It turned out to be due to an issue with the coldfusion version I was using in my docker build and not MSSQL. With that said I'm closing this as it's unrelated to this container registry.

[2021-08-15 14:52] #71 closed

[2021-08-18 12:47] ohadschn opened #77 "Replication to sovereign / national clouds"
Public addresses such as `mcr.microsoft.com` are not guaranteed to be accessible from sovereign / national clouds.
Is there a replicated MCR registry in the sovereign clouds, specifically Mooncake (China)? e.g. `mcr.microsoft.cn`?

[2021-08-23 16:32] hfuss opened #78 "mcr.microsoft.com/k8s/core/oss/kubernetes/pause:1.4.1 not found"
Although I had a VM be able to pull `1.4.1` earlier this morning, I'm having a Kubernetes upgrade currently fail because it cannot pull an image that is said to be available here: https://mcr.microsoft.com/v2/oss/kubernetes/pause/tags/list

I've confirmed I can reproduce the issue locally from my laptop as well:
[code]

is the MCR down? Where can one find a status page for it and reported incident

[2021-08-23 16:37] hfuss commented on #78
I am able to pull `docker pull mcr.microsoft.com/hello-world:latest` so while the MCR might not be down it appears either the `1.4.1` tag has been removed or there are other issues.

This is breaking Kubernetes cluster upgrades via `aks-engine`.

[2021-08-23 16:56] hfuss commented on #78
Other tags for the `pause` container are also not working:

[code]

[2021-08-23 18:07] #78 closed

[2021-08-25 09:42] rhsumner opened #79 "dotnet:2.2-sdk missing"
Hi,

microsoft/dotnet:2.2-sdk has been removed from docker but is not available on mcr.microsoft.com - https://mcr.microsoft.com/v2/dotnet/sdk/tags/list

Thanks,

[2021-08-25 09:56] Poseid10ur commented on #79
I'm dealing with the same issue as well. I was able to pull the image by running the below command.

`docker pull mcr.microsoft.com/dotnet/core/sdk:2.2`

[2021-08-25 10:05] rhsumner commented on #79
Thanks Poseid10ur!

[2021-08-25 13:13] giggio opened #80 "Vulnerability found at `mcr.microsoft.com/dotnet/runtime-deps:3.1-alpine`"
I just noticed a vulnerability reported by `docker scan mcr.microsoft.com/dotnet/runtime-deps:3.1-alpine`.
It is an [Out-of-bounds Read](https://snyk.io/vuln/SNYK-ALPINE313-APKTOOLS-1533754) in `apk-tools/apk-tools@2.12.5-r0`.
This is the image from 08/10/2021, hash `899d2e932ae4`.

<details><summary>Output log</summary>
<p>

[code]

</p>
</details>

[2021-08-25 13:15] mthalman commented on #79
That's the correct location to use.  2.2 has been EOL since Dec 2019.  It was already EOL by the time we [transitioned from `dotnet/core/sdk` to `dotnet/sdk`](https://github.com/dotnet/dotnet-docker/issues/2375), and so those 2.2 tags are not available in the new repositories.  You can still access them from the old "core" repositories.

[2021-08-25 13:22] sergioprates commented on #80
To solve this problem, while the image is not updated, just add this to the docker file:
`RUN apk add --upgrade apk-tools`

[2021-09-08 07:54] GertBurger opened #81 "MCR slow in South Africa"
Hi,

Pulling docker images from mcr seems to be much slower than from other locations. I rarely hit 10mbps and often its under 5mbps.
My fibre provider has decent peering in Western Europe and I can max out my line (200mbps) easily when fetching from other mirrors located in London for example.

As per the other tickets on this topic, here are some additional info that might be useful:
* Specific

[2021-09-14 12:07] yatima1460 opened #82 "500 Internal Server Error"
`mcr.microsoft.com/dotnet/framework/sdk` works with a valid hash

[code]

`mcr.microsoft.com/windows/servercore` does not work with a valid hash

[code]

Changing the hash to an invalid one returns

[code]

So there is a problem when the hash is valid and `mcr.microsoft.com/windows/servercore` is used

[2021-09-18 00:06] MarioGK opened #83 "6.0.0-rc.1 images are listed on the Dockerhub but they dont exist"
[code]

Getting this error while trying to pull the image.

[2021-09-20 12:52] mthalman commented on #83
That tag is not listed on Docker Hub for the [sdk](https://hub.docker.com/_/microsoft-dotnet-sdk) repository. I think you mean to be referencing `mcr.microsoft.com/dotnet/sdk:6.0.100-rc.1-bullseye-slim` instead.

[2021-09-20 13:14] MarioGK commented on #83
Well at the time in the docker hub the image was 6.0.0 and not 6.0.100, well anyway changing it works

[2021-09-20 13:14] #83 closed

[2021-09-20 13:16] mthalman commented on #83
You were probably looking at one of the runtime-related repositories such as [aspnet](https://hub.docker.com/_/microsoft-dotnet-aspnet). Runtime versions differ from SDK versions.

[2021-09-20 13:17] mthalman commented on #83
See [Overview of how .NET is versioned](https://docs.microsoft.com/dotnet/core/versions/).

[2021-09-21 18:10] bariscaglar commented on #81
Hi @GertBurger, thanks for the additional data. We do have an MCR West Europe region. The Azure traffic manager redirection is based on performance of DNS servers in your vicinity so based on that information, it decides that North Europe is the best server for you, which is a decision we don't have control over.

We admittedly have shortcomings in terms of performance in some parts of the world i

[2021-09-21 23:42] qweeah commented on #82
@yatima1460 Thanks for reporting this issue. This is a known issue for OSS registries caused by descriptors ambiguity when Redis cache is used.

If you docker pull with an **existed** digest of a blob(e.g. config blob, layer blob), MCR will return:
- 500 if the blob is cached;
- 404 if the blob is not cached.

To avoid this issue, you can pull image with the image tag or manifest digest, which is

[2021-09-21 23:42] #82 closed

[2021-09-27 05:52] edwardkuo opened #84 "How to access MCR via Azure ER"
Cloud we push images on MCR via azure express router?  I pull image and I got this message
 "Error initiating layer download: Get https://eastasia.data.mcr.microsoft.com/b29889755b1f4e46b6b44eb3182530c50joxcrfl25//docker/registry/v2/blobs/sha256/ef/ef11e3fc4f3c8fde075a1b6b355f949a4163916f4072d517d85436e89af06a04/data"

Or Azure express not support to pull MCR images?

[2021-09-30 07:56] kyojunlee opened #85 "How to migrate from microsoft/dotnet:2.2-sdk ??"
there is no mcr.microsoft.com/dotnet/sdk:2.2.
Any guide would be appricated.
Thanks.

[2021-09-30 11:19] yatima1460 commented on #82
I disagree, it's not the proper way to use docker, tags can be overwritten and change, sha256 is a good security measure

Still got the 500 error

This is a very bad issue that needs to be fixed, it's basically impossible to use sha256 on GitHub Actions to build images that match the cached ones

[2021-09-30 12:48] mthalman commented on #85
.NET Core 2.2 has been EOL since Dec 2019.  It was already EOL at the time the migration from the mcr.microsoft.com/dotnet/_core_/sdk repository to mcr.microsoft.com/dotnet/sdk and so 2.2 tags were not included in that migration.  You can still access 2.2 tags at the original mcr.microsoft.com/dotnet/core/sdk repository (e.g. `mcr.microsoft.com/dotnet/core/sdk:2.2`).  However, it is recommended to

[2021-10-04 17:36] bariscaglar commented on #84
Hi, Express Route is a direct connection to Azure from your on-premise resources. The data layers are pulled from CDN providers worldwide. So the connection to eastasia.data.mcr.microsoft.com is not a connection to Azure. If you are within an environment that does not allow connections to IP addresses outside of Azure, the connection will not work.

[2021-10-04 17:36] #84 closed

[2021-10-04 17:37] bariscaglar commented on #85
Closing the issue as it appears the question has been answered. Please reopen if further information is needed.

[2021-10-04 17:37] #85 closed

[2021-10-13 20:25] Leonardo-Ferreira opened #86 "Does mcr.Microsoft.com has quotas?"
Does mcr.microsoft.com has usage quotas? like, after 1GB of download it will cut me off?

[2021-10-14 13:10] lruddannelse opened #87 "Azure DevOps - Cannot build Docker image with agent version 2.192.0 and "FROM mcr.microsoft.com/dotnet/aspnet:5.0 AS base""
When trying to build with agent with version 2.192.0 I simply receive an error checking context: 'syntax error in pattern' (see below).
Agent version 2.188.0 worked fine and no changes has been made to either code nor Dockerfile. Even an earlier succesfull build does not work anymore because the agent version has changed.

The DockerFile only contains one line and that is "FROM mcr.microsoft.com/d

[2021-10-18 11:18] Rashmi-nw opened #88 "Openssl vulnerability fix - Upgrade alpine version to 3.14.2"
The latest linux image supported by sdk and the aspnet (for .net 3.1) is
`3.1.414-alpine3.14`.

Openssl CVE-2021-3711 and CVE-2021-3712 is fixed in alpine version 3.14.2. More information: https://alpinelinux.org/posts/Alpine-3.14.2-released.html

Would it be possible to update the sdk and aspnet mcr images please?
ie., to use alpine 3.14.2 in mcr.microsoft.com/dotnet/sdk:3.1.414-alpine3.14 and mc

[2021-10-18 13:21] #88 closed, assigned to nobody

[2021-11-17 03:19] GF-Huang opened #89 "How to query dotnet/aspnet tags?"
`https://mcr.microsoft.com/v2/mcr/dotnet/aspnet/tags/list`

![image](https://user-images.githubusercontent.com/4510984/142128536-5a63fc9d-c34a-4f36-a5b9-69b48a4c5e9e.png)

[2021-11-17 13:45] mthalman commented on #89
The correct URL is https://mcr.microsoft.com/v2/dotnet/aspnet/tags/list.

This link is provided on the [Docker Hub page](https://hub.docker.com/_/microsoft-dotnet-aspnet):

[2021-11-17 15:51] #89 closed

[2021-11-17 15:57] mthalman commented on #89
That's right. That's also indicated on that same page:

This is related to https://github.com/dotnet/dotnet-docker/issues/2375. At the time the repo change occurred, .NET Core 2.2 was already EOL so those tags are not included in the new repos.

[2021-11-20 01:24] gauravIoTEdge opened #90 "Need help with MCR webhook/testing (Microsoft internal team)"
Hi,

I’m exploring ideas to automate OS & framework patching for images [our releases](https://github.com/Azure/iotedge) depend on.

I’m trying to determine if it’s possible to trigger an AzureDevOps pipeline directly based on an image update in MCR.

To test whether this is feasible or not, I’ll need to trigger some kind of an image update on MCR.

Do you have a test environment that I could use?

[2021-12-02 18:33] gsmachado opened #91 "darwin/arm64 and darwin/amd64"
It would be nice if https://hub.docker.com/_/microsoft-dotnet-sdk/ and other containers in the Microsoft family also have the platforms `darwin/arm64` and `darwin/amd64`.

Then devs would be able to rely on, e.g., `mcr.microsoft.com/dotnet/sdk:6.0`, building images for `darwin/arm64`.

[2021-12-05 17:58] Turochamp commented on #35
Experiencing the same right now. Pulling `mcr.microsoft.com/dotnet/runtime:6.0` is taking more than four minutes (it's still working on it).

[2021-12-17 19:34] bariscaglar commented on #86
No, it has no quotas.

[2021-12-24 17:11] ab-smith opened #92 "[CVE-2020-1472] critical vulnerability in mcr.microsoft.com/k8s/csi/azurefile-csi:v1.3.0"
Hello,
Sorry if it is a closed issue but I've checked this image mcr.microsoft.com/k8s/csi/azurefile-csi:v1.3.0 with multiple scanners and reported a critical issue with CVE-2020-1472. On one of them it mentions that it won't be fixed but could find any references to this.
Thank you,

[2021-12-29 18:24] harrisonsp opened #93 "Lots of restarts and OOMKills on Azure Defender security-publisher pods"
In my AKS cluster, I'm seeing lots of restarts and OOMKills for pods using the mcr.microsoft.com/azuredefender/stable/security-publisher:0.3.21 image. I'm not sure if this is the right place to ask for help with that (if not, please advise), but that seems like something that should not be happening.

![image](https://user-images.githubusercontent.com/15724435/147692260-10a862db-48cb-44e3-bf0f-4b8

[2021-12-31 17:05] meghma opened #94 "Segmentation fault in Docker ASP.NET core startup after .net6 upgrade"
I upgraded to net6.0 and changed to mcr.microsoft.com/dotnet/sdk:6.0 in Dockerfile

Given below is the log at start up with segmentation fault that happens in the container but no issues running locally. Never had this issue in container with net3.1

[code]

[2022-01-03 13:46] mthalman commented on #94
I recommend that you log this issue at https://github.com/dotnet/dotnet-docker since it's related to the .NET container image and not the container registry.

[2022-01-06 11:41] owenashurst opened #95 "dotnet tests hanging when using sdk:6.0"
It seems like when using the `mcr.microsoft.com/dotnet/sdk:6.0` docker image, running the following command seems to hang
`dotnet test --test-adapter-path:. --logger:"junit;LogFileName=xunit/results.xml" --results-directory:test-results`

Seems fine when using .NET 5. All nuget packages have been updated when re-tasgeting .NET 6. I can confirm the build works on my windows machine in visual studio

[2022-01-06 13:54] mthalman commented on #95
Since this is specific to the .NET container image and not the container registry, I suggest you instead log this at https://github.com/dotnet/dotnet-docker.

[2022-01-21 10:41] andyzhangx commented on #92
pls use latest version: v1.9.0, the CVE is already fixed by that version.

[2022-01-26 06:07] chrisdaiii opened #96 "How to query the repository by paging?"
Is mcr.microsoft.com based on Registry V2 version? I found out that based on this documentation stating that pagination is not possible to fetch data.

GET /v2/_catalog?n=<n from the request>&last=<last repository value from previous response>

https://docs.docker.com/registry/spec/api/#listing-repositories

[2022-01-26 09:15] dhenriette commented on #73
Doesn't work for me

[2022-01-26 21:46] ctvanzandt42 opened #97 "CVE-2021-4034: PwnKit affecting CentOS, Debian, Fedora, and Ubuntu containers"
A vulnerability was found with PolKit, making it so Polkit’s pkexec command can be used to execute commands with root privileges. More can be found here: https://www.securityweek.com/polkit-vulnerability-provides-root-privileges-linux-systems

Want to ensure a patch will be pushed out to these containers for future use.

[2022-01-31 09:01] jitendracodehacker opened #98 "multiple vulnerabilities in mcr.microsoft.com/dotnet/runtime-deps:2.1"
There are multiple findings on mcr.microsoft.com/dotnet/runtime-deps:2.1

![image](https://user-images.githubusercontent.com/25054529/151765530-5fe922ed-b236-445f-bc96-4ac09222b6f0.png)

i though of checking other image like alpine but i didnt found it .  Please guide me here

[2022-01-31 14:20] mthalman commented on #98
This would be expected since [.NET Core 2.1 has been EOL since August 21, 2021](https://dotnet.microsoft.com/platform/support/policy/dotnet-core). Once a version is EOL, the associated container images are no longer kept up-to-date with patches.

[2022-02-01 12:14] jitendracodehacker commented on #98
here i tried 3.1 also but they do have vulnerabilities. Could you suggest clean image for runtime-deps ?

[2022-02-01 13:57] mthalman commented on #98
If you're concerned about getting a clean vulnerability scan, you're best bet is to use an image based on Alpine Linux, which [.NET does provide container images for](https://hub.docker.com/_/microsoft-dotnet). For Debian and Ubuntu, vulnerabilities showing up in scans is just a part of life. This is not specific to the .NET images. For example, the latest version of the base Debian 11 image curre

[2022-02-01 14:34] CMBulthuis opened #99 "9 critical and 9 high CVE vulnerabilities in azure-functions/java:4.1.3-java11-appservice"
Using Prisma cloud vulnerability scanning the following list 9 critical and 9 high vulnerabilities were found in the latest available image. Some of the vulnerabilities are even from 2019!!!!
I expect for images provided by Microsoft they are updated regularly and critical/high vulnerabilities are solved.

Could you solve the vulnerabilities ?

Kind regards, Chris

Scan results for: image mcr.micr

[2022-02-01 14:40] CMBulthuis opened #100 "4 critical and 5 high CVE vulnerabilities in image azure-functions/java:3.4.2-java11-appservice."
Using Prisma cloud vulnerability scanning the following list 4 critical and 5 high CVE vulnerabilities were found in the latest available image of version 3. Some of the vulnerabilities are even from 2019!!!!
I expect for images provided by Microsoft they are updated regularly and critical/high vulnerabilities are solved.

Could you solve the vulnerabilities ?

Kind regards, Chris

Scan results fo

[2022-02-04 06:01] jitendracodehacker commented on #98
@mthalman  : thanks for support . I already tried alpine and stretch-slim but those also report vulnerabilities
like for 2.1-alpine
![image](https://user-images.githubusercontent.com/25054529/152480240-3b4f5908-bc01-42f3-b87e-5be83a53618e.png)

[2022-02-04 13:50] mthalman commented on #98
Again, .NET Core 2.1 is EOL so there will most definitely be vulnerabilities in any 2.1 container images; they are not being maintained with the latest patches.

[2022-02-05 09:32] Antonytm opened #101 "Image mcr.microsoft.com/windows/nanoserver:1809 does not accept args"
**Description:**

I am not able to pass any arguments to `mcr.microsoft.com/windows/nanoserver:1809` image.

I want to build a few images based on `mcr.microsoft.com/windows/nanoserver:1809` with small differences. In order to achieve it, I want to pass build arguments to my `dockerbuild` file. But it looks like this image doesn't accept any arguments.

**Steps to reproduce:**

1. Create `dockerbu

[2022-02-05 10:41] #98 closed

[2022-02-05 16:48] Antonytm commented on #101
I figured out how to achieve what I need.
If `mcr.microsoft.com/windows/nanoserver:1809` is used then arguments should be used in `%arg%` format.
If `mcr.microsoft.com/dotnet/framework/sdk:4.8` is used then arguments should be used in `$env:arg` format.

Is this difference documented anywhere?

[2022-02-07 08:50] spacecowboy opened #102 "Docker pull very slow in Sweden"
I've been seeing extremely slow pull speeds in Sweden since Friday Feb 4th. Speed approximately at 500kB/s.

This is not the full time because I started the time when it had already been going for a minute or so:

[code]

It seems to be extra slow in the first 4-6 base layers of the image.

Using curl I can see this

[code]

[2022-02-16 12:26] magicse opened #103 "ukrainian language TTS."
I didn't see Ukrainian language.
https://mcr.microsoft.com/v2/azure-cognitive-services/speechservices/text-to-speech/tags/list

[2022-03-02 17:46] thealbres opened #104 "Using build function from mcr.microsoft.com/dotnet/sdk:3.1 thorw error"
Hi, I am trying to build a dacpac using the dotnet container, but when I try to use the `build` function it throws a error

The error I am getting is this :
![image](https://user-images.githubusercontent.com/80134809/156418071-9bc88e55-ca2c-403c-a990-8e4963da059b.png)
`/app/Receivables.sqlproj(61,3): error MSB4019: The imported project "/usr/share/dotnet/sdk/3.1.416/Microsoft/VisualStudio/v11.0/SS

[2022-03-02 17:59] mthalman commented on #104
Since your question is specific to a .NET container image, a better location for this would be at https://github.com/dotnet/dotnet-docker/discussions.

[2022-03-02 18:06] thealbres commented on #104
Done! https://github.com/dotnet/dotnet-docker/discussions/3534

Thank you

[2022-03-03 04:46] gldraphael commented on #57
https://mcr.microsoft.com/v2/_catalog lists `powershell` and `dotnet/sdk`

But, the following do not work:

* https://mcr.microsoft.com/v2/mcr/powershell/tags/list
* https://mcr.microsoft.com/v2/mcr/dotnet/sdk/tags/list

[2022-03-03 13:48] mthalman commented on #57
@gldraphael - You need to remove the `mcr` portion from the URL. Example: https://mcr.microsoft.com/v2/dotnet/sdk/tags/list

[2022-03-03 14:25] gldraphael commented on #57
Oh right! silly me. Thank you!

[2022-03-09 14:47] Rishitha-09 opened #105 "Using build function from mcr.microsoft.com/dotnet/framework/sdk:4.8-windowsservercore-ltsc2019 throws an error."
Hi, I am trying to build a dockerfile using windows image,but when I try to use the build function it throws an error.

The error is:
![Screenshot (11)](https://user-images.githubusercontent.com/84839948/157463659-3d151b0f-561a-4c56-92b8-b9e8744e6b3f.png)

And I also tried it by switching to windows container. When I was trying to install some packages and tools through docker file I am unable to

[2022-03-15 12:14] CMBulthuis commented on #99
Since 1 Feb. there is no update on solving CVE's in this Microsoft docker image.
Because of the CVE's and no improvements on solving them we moved away from building Azure Functions with them.
I will close the issue although there are still critical and high vulnerabilities.

[2022-03-15 12:14] #99 closed

[2022-03-15 12:15] CMBulthuis commented on #100
Since 1 Feb. there is no update on solving CVE's in this Microsoft docker image.
Because of the CVE's and no improvements on solving them we moved away from building Azure Functions with them.
I will close the issue although there are still critical and high vulnerabilities.

[2022-03-15 12:15] #100 closed

[2022-03-17 08:58] tiniMartini opened #106 "MCR not available"
Hi, I'm trying to pull an image from mcr.microsoft.com/oss/kubernetes-csi/livenessprobe but all I get ist this error:
"Our services aren't available right now

We're working to restore all services as soon as possible. Please check back soon.
05/cyYgAAAABnFmeKde8sT6HaHd4dcBdIRFVTMzBFREdFMDQxOQBFZGdl "

Does somebody know when the service will be available again?

[2022-03-17 10:46] maikebing commented on #106
<h2>Our services aren't available right now</h2><p>We're working to restore all services as soon as possible. Please check back soon.</p>0bhEzYgAAAACuN9zMxIPGQojaflp/1tnETEFYMzExMDAwMTEyMDQ5AEVkZ2U=

[2022-03-17 14:31] #106 closed

[2022-03-18 05:40] maikebing commented on #106
again

<h2>Our services aren't available right now</h2><p>We're working to restore all services as soon as possible. Please check back soon.</p>0Mhs0YgAAAAAZW8J1IHmeS64W8KLkasiRSEtHMzBFREdFMDgyMgBFZGdl

[2022-03-26 15:38] KOPElan opened #107 "mcr image pull time out in china"
Recently, pull image form mcr always time out in china.
[code]

[2022-03-29 11:03] dariuszparys opened #108 "Can't pull reliable mcr.microsoft.com/iotedge/iotedgedev:latest"
We're using `iotedge/iotedgedev` in our Ops pipeline and encountered this error:

`2022-03-29T07:00:30.5006078Z docker: error pulling image configuration: toomanyrequests: Too many requests. Please visit https://aka.ms/acr/skus#sku-feature-matrix to view limits of all service tiers.`

The frequency of the pipeline has been increased and this error is now coming for some requests

Here is the compl

[2022-03-29 11:11] dariuszparys commented on #108
After having looked up the link https://opencontainers.org/posts/blog/2020-10-30-consuming-public-content/ could it be that the usage of the ubuntu:18.04 base image by iotedgedev is hitting the limit specified in https://docs.docker.com/docker-hub/download-rate-limit/#what-is-the-download-rate-limit-on-docker-hub? If this is the case, then the error message retrieved is misleading

[2022-03-30 08:51] ghelyar commented on #108
FWIW we're also getting this on e.g. .NET images:

[code]

[2022-04-04 06:16] onlineeric opened #109 "cannot pull docker image, service unavailable?"
It was working a few days ago, but now when I execute `docker pull mcr.microsoft.com/dotnet/runtime:6.0-alpine` it failed with error message `Error response from daemon: Get "https://mcr.microsoft.com/v2/": Service Unavailable`. Is the docker image service temporary unavailable?

[2022-04-12 22:07] kh-yash opened #110 "CVE-2021-4160 vulnerability in docker image"
Hi, in my docker file, I am using this base image - mcr.microsoft.com/dotnet/aspnet:6.0. We recently detected this vulnerability - https://security-tracker.debian.org/tracker/CVE-2021-4160 in the same base image. I think it has to do with the openssl package being vulnerable. Is there a plan to fix this issue?

[2022-04-12 23:35] mthalman commented on #110
This repo is for the Microsoft container registry service, not specific container images. Please log this at https://github.com/dotnet/dotnet-docker/discussions.

[2022-04-13 00:58] kh-yash commented on #110
Hi @mthalman just did! Thanks!

[2022-04-13 00:58] #110 closed

[2022-04-19 23:48] jweyrich commented on #35
Experiencing it right now for the following image: mcr.microsoft.com/mssql/server:2019-CU15-ubuntu-20.04
Speed is around ~230KB/s.
The year is 2022 and _dial up_ is still alive.

[2022-04-27 10:23] Johan1974 opened #111 "Default password"
Hello,

What is the default password or how do i set the password for the admin within the container?

[2022-05-04 05:53] Abhinav1598 opened #112 "command docker pull mcr.microsoft.com/dotnet/sdk:6.0 throwing error"
Error response from daemon: error parsing HTTP 400 response body: invalid character '<' looking for beginning of value: "

Our services aren't available right now
We're working to restore all services as soon as possible. Please check back soon.

00w1yYgAAAADr+GZP0awtS6P+4e4EaPC0TUFBMDJFREdFMDMxMQBFZGdl"
I am using openFaas to create a dotnet function, in the dockerfile pull for sdk:3.1 and runtim

[2022-05-05 08:42] paule96 commented on #57
@alyssadecasa I guess the cleaning goes here in the wrong direction at least for some images.

For example, the image `mcr.microsoft.com/mssql-tools` can be pulled as an image but is now not anymore in the catalog. And it would be really helpful to get the `tags` to the image.

[2022-05-11 00:04] socialviolation opened #113 "mcr.microsoft.com/dotnet/sdk:6.0 SDK not installed correctly"
Image: mcr.microsoft.com/dotnet/sdk
Tag: 6.0
ImageId: 225776911cc4

Description:
Build fails when running any dotnet command.

LOGS:
[code]

[2022-05-11 00:07] socialviolation commented on #113
User error. Fix was to simply read the error message, and update `global.json`

[2022-05-11 00:07] #113 closed

[2022-05-17 17:34] AmudaPalani opened #114 "Custom role - Unable to push to ACR"
Created this custom role. When this custom role is assigned to a User, User is able to create ACR, but unable to push images to it. Can you please fix this?

{
    "id": "xyz",
    "properties": {
        "roleName": "AAD-Eng_Admin",
        "description": "Role created to restirct Access to IAM and creation of Networking Components",
        "assignableScopes": [],
        "permissions": [

[2022-05-17 20:08] AmudaPalani commented on #114
Adding these permissions to above role, we are able to workaround this bug:

        "Microsoft.ContainerRegistry/registries/pull/read",
        "Microsoft.ContainerRegistry/registries/push/write"

 But question remains, why we need to add this when we have "Microsoft.ContainerRegistry/registries/*" permission

[2022-05-18 04:30] #86 closed

[2022-05-18 13:07] dfibuch opened #115 "Fatal error with mcr.microsoft.com/cosmosdb/linux/azure-cosmos-emulator:latest"
We've been using the Linux azure-cosmos-emulator for few months now and came across an issue today when I rebuilt my local docker images. Pulling the `latest` image (1.93 GB) starts up the container but immediately shows these errors and the instances shuts down

![image](https://user-images.githubusercontent.com/4235431/169045306-b007b7fd-cc59-44f9-953c-2a931ad8a7fd.png)

If I change the tag to s

[2022-05-23 20:00] microsoft-github-policy-service[bot] opened #117 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-25 21:26] #117 closed

[2022-06-27 15:44] richlander opened #120 "MCR URLs are unintuitive, effectively app not registry based"
This URL fails: https://mcr.microsoft.com/product/dotnet/sdk
This URL works: https://mcr.microsoft.com/product/dotnet/sdk/about

It's very odd to share MCR URLs to other parties with `about` in them. It's also a strange compatibility burden for you to carry. Everything after `product` should be registry concepts, at least in terms of required data.

Please make the first URL work.

[2022-07-02 07:33] Adam-Jin opened #121 "eastasia.data.mcr.microsoft.com ssl certificate has expired"
## eastasia.data.mcr.microsoft.com ssl certificate has expired
![image](https://user-images.githubusercontent.com/20434035/176991287-b6f9b334-3e67-41f5-8165-b04364954859.png)
![image](https://user-images.githubusercontent.com/20434035/176991302-108a6ad7-910e-46d7-a022-903be855c50b.png)

[2022-07-02 18:37] richlander commented on #121
An ICM issue has been created: https://portal.microsofticm.com/imp/v3/incidents/details/317995586/home (MS internal link).

[2022-07-02 19:26] AndreHamilton-MSFT commented on #121
Issue was mitigated around 10:20am pst. Please let us know if you continue to see issues

[2022-07-02 19:26] #121 closed

[2022-07-12 20:35] terencet-dev commented on #120
Hi @richlander,

Thanks for sending this over. I am tagging this as a Feature Request and will add this item to our backlog. Will provide updates whenever I get them from our team. Thanks!

[2022-07-12 20:37] terencet-dev commented on #3
Closing this issue as this is older than one year. Please feel free to open another GitHub issue if this is not correctly resolved.

Users can now view artifact sizes on mcr.microsoft.com

[2022-07-12 20:37] terencet-dev commented on #43
Closing this issue as this is older than one year. Please feel free to open another GitHub issue if this is not correctly resolved.

[2022-07-12 20:37] #43 closed

[2022-07-12 20:38] terencet-dev commented on #44
Hi, my name is Terence and I am the PM for Microsoft Artifact Registry (also known as Microsoft Container Registry or MCR).

Closing this issue as this is older than one year. Please feel free to open another GitHub issue if this is not correctly resolved.

[2022-07-12 20:38] #44 closed

[2022-07-12 20:39] terencet-dev commented on #50
Hi, my name is Terence and I am the PM for Microsoft Artifact Registry (also known as Microsoft Container Registry or MCR).

Closing this issue as this is older than one year. Please feel free to open another GitHub issue if this is not correctly resolved.

[2022-07-12 20:39] #50 closed

[2022-07-12 20:50] terencet-dev commented on #87
Hi, my name is Terence and I am the PM for Microsoft Artifact Registry (also known as Microsoft Container Registry or MCR).

Closing this issue as this is older than one year. Please feel free to open another GitHub issue if this is not correctly resolved.

[2022-07-12 20:50] #87 closed

[2022-07-12 20:51] terencet-dev commented on #90
Hi, my name is Terence and I am the PM for Microsoft Artifact Registry (also known as Microsoft Container Registry or MCR).

Closing this issue as this is older than six months. Please feel free to open another GitHub issue if this is not correctly resolved.

[2022-07-12 20:51] #90 closed

[2022-07-14 21:30] alyssadecasa commented on #57
There is a bug related to the mssql-tools image on the SQL team side. In our records, it is set to mssql/tools, but this image does not exist whereas mssql-tools does. I have reached out to the SQL team about this.

Thank you for bringing this to our attention.

[2022-08-16 08:00] hujiulin opened #122 "Windows/Windows Server/Windows Server Core image in mcr miss avicap32.dll"
Hi, we found that the AVICAP miss in the above images. Is it expected? How do we fix this by ourselves for mitigating this issue?

[2022-08-16 08:58] magicse commented on #103
+1

[2022-08-24 11:37] Borda opened #123 "Using azureml images in Azure DevOps pipelines"
I am trying to run the following image `mcr.microsoft.com/azureml/minimal-ubuntu20.04-py38-cpu-inference:latest` in Azure DevOps pipelines on a scale set composed of B2s machines. But it seems it does not start for a missing user:
[code]
In fact, I do ot need to use azureml image, but it was the only one found when I searched for keyword Ubuntu in the registry... :(

[2022-08-26 17:40] Ravikrishna216 opened #124 "CVE-2022-37434 for ASP.Net 6"
We are using aspnet docker image

mcr.microsoft.com/dotnet/aspnet:6.0

From Sysdig scan a vulnerability is scanned [CVE-2022-37434](https://security-tracker.debian.org/tracker/CVE-2022-37434)

Will the base image will be updated to handle this vulnerability ??

[2022-08-26 19:58] mthalman commented on #124
This is now resolved. I've rebuilt all affected .NET images based on Debian 11 so that they now contain the latest `zlib1g` package version which patches this vulnerability.

[code]

[2022-08-26 19:58] mthalman commented on #124
In the future, please log issues specific to .NET container images at https://github.com/dotnet/dotnet-docker.

[2022-08-27 16:39] Ravikrishna216 commented on #124
Sure.. Thank you for the update.

[2022-08-28 13:47] #124 closed

[2022-08-28 13:48] Ravikrishna216 commented on #124
Thank you.. It is working now

[2022-09-08 20:29] AndreHamilton-MSFT commented on #112
@Abhinav1598  are you still experiencing this error

[2022-09-14 17:48] microsoft-github-policy-service[bot] opened #125 "This repo is missing a license file"
This repository is currently missing a LICENSE.MD file outlining its license. A license helps users understand how to use your project in a compliant manner. You can find the standard MIT license text at the Microsoft repo templates LICENSE file: https://github.com/microsoft/repo-templates/blob/main/shared/LICENSE.
If you would like to learn more about open source licenses, please visit the docume

[2022-09-15 13:13] robertofan opened #126 "Registry and Data Endpoint IP addresses"
Is it possible to have the list of the IP addresses that need to be enabled on firewalls/proxies for content discovery and delivery?
I am referring to the IP addresses behind the endpoints published on [Microsoft Artifact Registry (MAR) Client Firewall Rules Configuration](https://github.com/microsoft/containerregistry/blob/main/client-firewall-rules.md):
- mcr.microsoft.com
- *.data.mcr.microsoft

[2022-11-04 13:36] ltalirz commented on #125
This is not correct. Is this a bug @microsoft-github-policy-service ?

[2022-11-10 15:49] garfbradazEQ opened #128 "503 returned on https://mcr.microsoft.com"
The site seems to be down.

Does Docker Hub show your Digest/SHA IDs for your tagged images? I couldnt see them.

[2022-11-10 20:21] garfbradazEQ commented on #128
Its back now.

[2022-11-10 20:21] #128 closed

[2022-11-15 16:14] kaymenji opened #129 "kubernetes security patch needs to be done"
Hi there,

Can you please kindly apply security patch to NPE AKS mazcaecbunpeceaks01?

Please find attached the prisma alert list.

If you want to contact me, email : kaymen.ji@rci.rogers.com

[mazcaecbunpeceaks01_microsoft.xlsx](https://github.com/microsoft/containerregistry/files/10014314/mazcaecbunpeceaks01_microsoft.xlsx)